@charset 'UTF-8';
@import '../utility/*';
$border: #9C9C9C;
/*-----------------------------------------------------------
INTRO
------------------------------------------------------------*/
.breadcrumb{
  @include max-screen(767px){
    padding-top: 10px;
  }
}
/*-----------------------------------------------------------
LST
------------------------------------------------------------*/
.amiidalife{
  padding: 36px 20px;
  max-width: 968px;
  @include max-screen(767px){max-width: 600px;padding: 0 25px 30px;}
  &-lst{
    margin-top: 75px;
    @include max-screen(767px){margin-top: 30px;}
    .item{
      display: flex;justify-content: space-between;
      width: 100%;position: relative;//flex-wrap: wrap;
      margin-bottom: 80px;
      @include screen(768px,950px){margin-bottom: 60px;}
      @include max-screen(767px){margin-bottom: 20px;flex-wrap:wrap;}
      .img{
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
      }
      &__img{
        width: calc(100% - 260px);
        @include max-screen(767px){
          width: 100%;
        }
        .img{
          @include aspect-ratio(550,300);
          @include max-screen(767px){
            width:75%;@include aspect-ratio(244,168);
            max-width:100%;margin-top: 20px;
          }
        }
      }
      &__info{
        width: 360px;
        @include max-screen(767px){
          width: 100%;margin-top: -25%;
        }
        &--ttl{
          display: inline-block;width: 100%;
          *{color: #000;}
          &:hover{
            opacity: 1;
            .ttl1{font-size: 22px;}
          }
          .ttl1{
            @include font(20,1.6,0.06,600);
            @include noto;text-align: center;
            position: relative;display: inline-block;
            @include max-screen(767px){
              font-size: 16px;line-height: 1.5;
              text-align: center;
            }
          }
          .ttl2{
            @include font(14,22/14,0.06);
            @include noto;text-align: center;
            position: relative;display: inline-block;
            padding-top: 5px;
            @include max-screen(767px){
              font-size: 13px;
              text-align: center;
            }
          }
        }
        &--space{
          @include aspect-ratio(260,40);
          @include screen(768px,950px){@include aspect-ratio(260,40);}
          @include max-screen(767px){display: none;}
        }
        &--img{
          .img{
            display: inline-block;
            @include aspect-ratio(250,200);
            width: 100%;max-width: 250px;
            @include max-screen(767px){
              max-width:100%;
              width: 55%;@include aspect-ratio(173,128);
            }
          }
        }
      }
      &:nth-child(2n+1){
        padding-left: 10%;
        @include max-screen(950px){padding-left: 0;}
        .item__img{
          margin-left: -100px;
          order: 2;
          @include max-screen(767px){
            margin-left:0;
            order: 1;
            .img{margin-left: 25%;}
          }
        }
        .item__info{
          order: 1;
          @include max-screen(767px){order: 2;}
          &--img{
            text-align: right;
            @include max-screen(767px){
              .img{margin-right: 45%;}
            }
          }
          &--ttl{
            text-align: left;
          }
        }
      }
      &:nth-child(2n){
        // padding-right: 10%;
        
        @include max-screen(950px){padding-right: 0;}
        .item__img{
          margin-right: -100px;
          order: 1;
          @include max-screen(767px){margin-right: 0;}
          .item--ttl{text-align: right;}
        }
        .item__info{
          order: 2;
          &--img{
            text-align: left;
            @include max-screen(767px){
              .img{margin-left: 45%;}
            }
          }
          &--ttl{
            text-align: right;
          }
        }
      }
    }
  }
}
/*-----------------------------------------------------------
INTRO
------------------------------------------------------------*/
/*-----------------------------------------------------------
INTRO
------------------------------------------------------------*/
/*-----------------------------------------------------------
INTRO
------------------------------------------------------------*/