@charset 'UTF-8';
@import '../utility/*';
/*-----------------------------------------------------------
reset
------------------------------------------------------------*/
body,html{height:100%;}
body{
	padding-top: 0 !important;
}
#wrap{
	width: 100%;
	text-align: right;
	margin: auto;
	background: rgba(233,233,233,0.1) url(../../img/studio/bg_schedule.jpg) right bottom/100% auto no-repeat;
	@include max-screen(767px){
		background-size: auto 150px;
		background-position: right -50px bottom;
	}
}
.login{
	@include font(0,0,0);
	width: 100%;min-height: 100vh;
	padding: 15px 25px;
	position: relative;
	display: flex;justify-content: center;
	align-items: center;
	@include max-screen(767px){
		display: block;
		padding: 0;
	}
	.inner{
		display: inline-block;
		width: 100%;
		max-width: 450px;
		background: #fff;
		padding: 0 55px;
		text-align: center;
		box-shadow: 0 0 6px rgba(0,0,0,0.1);
		@include max-screen(767px){
			max-width: 335px;
			padding: 0 20px;
			box-shadow: none;
			background: none;
			display: block;
			margin: auto;
		}
	}
	&__form{
		width: 100%;
		display: block;
		text-align: center;
		margin: auto;
		padding: 40px 0 60px;
		@include max-screen(767px){
			padding: 60px 0 0;
		}
		&--ttl{
			text-align: center;
			img{
				width: 90px;
				@include max-screen(767px){width: 70px;}
			}
		}
		&--field{
			text-align: left;
			margin: 45px auto 0;
			@include max-screen(767px){
				marign-top: 30px;
			}
			.item{
				width: 100%;
				position: relative;
				&:not(:last-child){margin-bottom: 25px;}
				input{
					@include add_prefix(appearance, none);
					@include add_prefix(box-shadow,none);
					background: #fff;		
					border: 1px solid #ccc;
					width: 100%;height: 40px;
					padding: 4px 20px 4px 40px;
					@include font(13,24/14,0.13);
					&:-webkit-input-placeholder{color: #767778;}
					&:-ms-input-placeholder{color: #767778;}
					&:placeholder{color: #767778;}
					@include max-screen(767px){
						height: 36px;
					}
				}
				input:-webkit-autofill,
				input:-webkit-autofill:hover, 
				input:-webkit-autofill:focus, 
				input:-webkit-autofill:active  {
				    -webkit-box-shadow: 0 0 0 30px white inset !important;
				}
				.ico{
					position: absolute;
					&--user{
						width: 14px;height: 17px;
						background: url(../../img/login/ico_user.svg)  center/100% no-repeat;
						top: calc(50% - 9px);left: 10px;
						@include max-screen(767px){
							background-size: 12px auto;
							background-position: bottom 1px left;
						}
					}
					&--key{
						width: 18px;height: 18px;
						background: url(../../img/login/ico_key.svg)  center/100% no-repeat;
						top: calc(50% - 8px);left: 10px;
						@include max-screen(767px){
							background-size: 16px auto;
							background-position: bottom 1px left;
						}
					}
				}
			}
		}
		&--check{
			display: block;
			width: 100%;
			position: relative;
			text-align: left;
			margin: 20px auto;
			@include max-screen(767px){margin: 15px auto 20px;}
			input{
				opacity: 0;
				top:0;left:0;
				position: absolute;
				&:checked + .txt:before{
					border-color: $purple;
					background: $purple url(../../img/login/ico_check.svg) center/12px 9px no-repeat;
				}
			}
			.txt{
				padding-left: 25px;
				position: relative;
				color: #767778;
				@include font(14,24/14,0.02);
				display: inline-block;
				@include max-screen(767px){
					font-size: 12px;
				}
				&:before{
					content: "";position: absolute;
					width: 16px;height: 16px;
					border: 1px solid #ccc;
					background: #fff;
					top: calc(50% - 8px);left:0;
					@include max-screen(767px){
						width:15px;height: 15px;
						top: calc(50% - 7px);
					}
				}
			}
		}
		&--btn{
			text-align: center;
			padding-top: 20px;
			.c-btn{
				display: inline-block;
				font-size: 16px;
				@include max-screen(767px){
					max-width: 240px;
					font-size: 14px;
					padding: 10px 25px 10px 10px;
				}
			}
		}
	}
}

/*-----------------------------------------------------------
reset
------------------------------------------------------------*/