@charset 'UTF-8';
@import '../utility/*';

.sec-filter{
  .lst-filter{
    padding-bottom: 35px;
    border-bottom: 1px solid #E2E2E2;
    font-size: 0;
    @include SP{
      padding-bottom: 10px;
    }
    .item{
      display: inline-block;
      @include SP{
        display: block;
        margin-bottom: 20px;
      }
      .item-ttl,
      select{
        display: inline-block;
        vertical-align: middle;
      }
      .item-ttl{
        font-size: 15px;
        font-weight: 500;
        @include SP{
          margin-bottom: 5px;
        }
      }
      select{
        border: 1px solid #E2E2E2;
        border-radius: 8px;
        font-size: 15px;
        font-weight: 500;
        height: 48px;
        padding: 5px 30px 5px 15px;
        @include add_prefix(appearance, none);
        background: url(../../img/common/icon/ard_grey.svg) center right 17px/14px 8px no-repeat;
        @include SP{
          width: calc(100% - 85px);
          margin-right: 0;
          background-size: 10px 6px;
          background-position: center right 10px;
        }
      }
      &--studio{
        width: calc(100% - 315px);
        padding-right: 80px;
        @include SP{
          width: 100%;
          padding-right: 0;
        }
        .item-ttl{
          width: 120px;
          @include SP{
            width: 100%;
          }
        }
        select{
          width: calc(100% - 120px);
          @include SP{
            width: 100%;
          }
        }
      }
      &--date{
        width: 315px;
        @include SP{
          width: 100%;
        }
        .item-ttl{
          width: 100px;
          @include SP{
            width: 100%;
          }
        }
        select{
          width: calc(100% - 100px);
          @include SP{
            width: 100%;
          }
        }
      }
    }
  }
}

.sec-main-post{
  margin-top: 25px;
}
.sec-sub-bg{
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  background-color: #fff;
  padding: 50px 0 0;
}
.sec-sub-bg01{
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: #fff;
  padding: 34px 0 80px;
  margin-bottom: 67px;
  @include SP{
    padding-bottom: 60px;
  }
}
.sec-create{
  .item{
    font-size: 0;
    &:not(:last-child){
      margin-bottom: 25px;
      @include SP{
        margin-bottom: 15px;
      }
    }
    .item-ttl,
    .item-field{
      display: inline-block;
      vertical-align: top;
      @include add_prefix(appearance, none);
      @include SP{
        display: block;
      }
    }
    .item-ttl{
      font-size: 15px;
      width: 190px;
      padding-top: 10px;
      padding-right: 20px;
      @include SP{
        width: 100%;
        margin-bottom: 7px;
      }
      .note{
        font-size: 13px;
        font-weight: 500;
        color: rgba($color: #000000, $alpha: 0.5);
        display: block;
      }
      &--nopad{
        padding-top: 0;
      }
    }
    .item-field{
      width: calc(100% - 190px);
      @include SP{
        width: 100%;
      }
      .half{
        display: inline-block;
        width: 121px;
        @include IP5{
          width: calc(50% - 13px);
        }
        &:nth-child(2){
          margin-left: 25px;
          position: relative;
          &:before{
            @include absolute('〜','','',calc(50% - 12px),'','',-19px);
            font-size: 15px;
          }
        }
      }
    }
    .txt{
      display: block;
      border: 1px solid #E2E2E2;
      border-radius: 8px;
      padding: 10px 10px;
      @include font(15,26px,'',500);
      min-height: 48px;
      @include SP{
        width: 100%;
      }
      &.txt-small-field{
        width: 121px;
        max-width: 100%;
      }
    }
    input,
    textarea{
      display: block;
      border: 1px solid #E2E2E2;
      border-radius: 8px;
      padding: 10px 15px;
      @include font(15,26px,'',500);
      @include ffYG;
      max-width: 100%;
      width: 100%;
    }
    input{
      height: 46px;
      &.ip-datepicker{
        width: 280px;
        background: url(../../img/common/icon/ard_grey.svg) center right 17px/14px 8px no-repeat;
      }
    }
    textarea{
      height: 150px;
    }
    select{
      width: 100%;
      margin-right: 23px;
      border: 1px solid #E2E2E2;
      border-radius: 8px;
      font-size: 15px;
      font-weight: 500;
      height: 48px;
      padding: 5px 30px 5px 15px;
      @include add_prefix(appearance, none);
      background: url(../../img/common/icon/ard_grey.svg) center right 17px/14px 8px no-repeat;
      @include ffYG;
      @include SP{
        width: 100%;
        margin-right: 0;
        background-size: 10px 6px;
        background-position: center right 10px;
      }
    }
    &--last{
      padding-bottom: 30px;
      border-bottom: 1px solid #E2E2E2;
    }
  }
  .btn-add-new{
    font-size: 15px;
    line-height: 48px;
    font-weight: bold;
    background-color: $pinkpurple;
    max-width: 287px;
    width: 100%;
    margin: 40px auto 0;
    text-align: center;
    color: #fff;
    border-radius: 8px;
  }
}

.sec-lst-schedule{
  .ttl{
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 13px;
  }
  .lst-ttl{
    padding: 0 30px;
    font-size: 0;
    margin-bottom: 10px;
    .item{
      font-size: 15px;
      font-weight: bold;
      color: #A0A0A0;
      display: inline-block;
      vertical-align: top;
      @include PC{
        text-align: center;
        margin: 0 10px;
        &:nth-child(1){
          width: calc(50% - 306px);
          text-align: left;
          margin-left: 0;
        }
        &:nth-child(2){
          width: 130px;
        }
        &:nth-child(3){
          width: 80px;
        }
        &:nth-child(4){
          width: 80px;
        }
        &:nth-child(5){
          width: calc(50% - 306px);
        }
      }
      @include SP{
        display: none;
      }
    }
  }
  .rp{
    .row{
      background-color: #fff;
      border-radius: 18px;
      padding: 25px 30px;
      margin-bottom: 8px;
      @include SP{
        padding: 25px 15px;
      }
      .inside{
        font-size: 0;
        select, input{
          @include add_prefix(appearance, none);
          border: 1px solid #E2E2E2;
          border-radius: 8px;
          background-color: transparent;
          display: inline-block;
          font-size: 15px;
          padding: 10px 10px;
          margin: 0 10px;
          text-align: center;
          color: #000;
          @include ffYG;
          @include SP{
            margin: 0;
            margin-bottom: 5px;
            text-align: left;
          }
          &:disabled{
            border: 0;
          }
          @include PC{
            &:nth-child(1){
              width: calc(50% - 306px);
              margin-left: 0;
              padding-left: 0;
            }
            &:nth-child(2){
              width: 130px;
            }
            &:nth-child(3){
              width: 80px;
            }
            &:nth-child(4){
              width: 80px;
            }
            &:nth-child(5){
              width: calc(50% - 306px);
            }
          }
          @include SP{
            width: 100%;
          }
        }
        select{
          @include SP{
            font-weight: bold;
          }
        }
        .btn-edit,
        .btn-delete{
          display: inline-block;
          vertical-align: top;
          font-size: 13px;
          font-weight: bold;
          border: 1px solid currentColor;
          padding: 5px 5px 5px 25px;
          border-radius: 8px;
          text-align: center;
          @include SP{
            margin-top: 15px;
          }
        }
        .btn-edit{
          width: 107px;
          margin-right: 12px;
          color: #218CE8;
          background: url(../../img/common/icon/ico_edit.svg) center left 10px/16px 16px no-repeat, #C3E7FF;
          @include SP{
            width: calc(50% - 6px);
          }
        }
        .btn-delete{
          width: 103px;
          color: #E5749B;
          background: url(../../img/common/icon/ico_delete.svg) center left 15px/12px 15px no-repeat, #FFDEE5;
          @include SP{
            width: calc(50% - 6px);
          }
        }
      }
    }
  }
}