@charset 'UTF-8';
@import '../utility/*';

.sec-filter{
  margin-bottom: 30px;
  .lst-filter{
    padding-bottom: 35px;
    border-bottom: 1px solid #E2E2E2;
    font-size: 0;
    @include SP{
      padding-bottom: 10px;
    }
    .item{
      display: inline-block;
      @include SP{
        display: block;
        margin-bottom: 20px;
      }
      .item-ttl,
      select{
        display: inline-block;
        vertical-align: middle;
      }
      .item-ttl{
        font-size: 15px;
        font-weight: 500;
        @include SP{
          margin-bottom: 5px;
        }
      }
      select{
        border: 1px solid #E2E2E2;
        border-radius: 8px;
        font-size: 15px;
        font-weight: 500;
        height: 48px;
        padding: 5px 30px 5px 15px;
        @include add_prefix(appearance, none);
        background: url(../../img/common/icon/ard_grey.svg) center right 17px/14px 8px no-repeat;
        @include SP{
          width: calc(100% - 85px);
          margin-right: 0;
          background-size: 10px 6px;
          background-position: center right 10px;
        }
      }
      &--studio{
        width: calc(100% - 315px);
        padding-right: 80px;
        @include SP{
          width: 100%;
          padding-right: 0;
        }
        .item-ttl{
          width: 120px;
          @include SP{
            width: 100%;
          }
        }
        select{
          width: calc(100% - 120px);
          @include SP{
            width: 100%;
          }
        }
      }
      &--date{
        width: 315px;
        @include SP{
          width: 100%;
        }
        .item-ttl{
          width: 100px;
          @include SP{
            width: 100%;
          }
        }
        select{
          width: calc(100% - 100px);
          @include SP{
            width: 100%;
          }
        }
      }
    }
  }
}

.sec-num-application{
  padding-bottom: 17px;
  margin-bottom: 31px;
  border-bottom: 1px solid #E2E2E2;
  .ttl{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .boxes{
    .box{
      display: inline-block;
      max-width: 290px;
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
      &:not(:last-child){
        margin-right: 30px;
      }
      .box-bg{
        padding: 28px 10px;
        border-radius: 8px;
        background-color: #F4F4F4;
      }
      .box-ttl{
        font-size: 15px;
        font-weight: bold;
      }
      .box-num{
        .num{
          font-size: 42px;
          font-weight: bold;
          line-height: 60px;
          display: inline-block;
          vertical-align: bottom;
        }
        .unit{
          font-size: 24px;
          font-weight: bold;
          display: inline-block;
          vertical-align: bottom;
          line-height: 50px;
        }
      }
      .note{
        color: #0766E8;
        font-size: 13px;
        font-weight: 500;
        text-align: left;
        display: block;
        margin-top: 8px;
      }
    }
  }
}

.sec-data{
  .ttl{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }
}

.tbl-outside{
  padding-bottom: 30px;
  .tbl-data{
    width: 2000px;
    border-collapse: collapse;
    display: table;
    table-layout: fixed;
    .row{
      display: table-row;
      .th, .td{
        display: table-cell;
        border: 1px solid #E2E2E2;
        text-align: center;
        vertical-align: middle;
        @include font(14,22px,'',500);
        &:nth-child(1){
          width: 50px;
        }
        &:nth-child(2){
          width: 100px;
        }
        &:nth-child(3){
          width: 150px;
        }
        &:nth-child(4){
          width: 100px;
        }
        &:nth-child(5){
          width: 150px;
        }
        &:nth-child(6){
          width: 180px;
        }
        &:nth-child(7){
          width: 150px;
        }
        &:nth-child(8){
          width: 150px;
        }
        &:nth-child(9){
          width: 125px;
        }
        &:nth-child(10){
          width: 135px;
        }
        &:nth-child(11){
          width: 125px;
        }
        &:nth-child(12){
          width: 135px;
        }
        &:nth-child(13){
          width: 150px;
        }
        &:nth-child(14){
          width: 300px;
        }
      }
      .th{
        background-color: #3C3C3C;
        color: #fff;
        padding: 10px 5px;
        font-weight: bold;
      }
      .td{
        &:not(.td--edit){
          background-color: #f0f0f0;
        }
        &:nth-child(7n){
          border-right-color: #000;
        }
        &--edit{
          border-color: #000;
        }
        .txt{
          padding: 10px 5px;

        }
        input,
        select,
        textarea{
          border: 0;
          @include add_prefix(appearance, none);
          border-radius: 0;
          display: block;
          min-height: 40px;
          @include font(15,24px,'',500);
          @include ffYG;
        }
        input{
          padding: 5px 10px;
        }
        select{
          width: 100%;
          background: url(../../img/common/icon/ard_grey.svg) center right 7px/12px 7px no-repeat;
          padding: 5px 10px;
        }
        textarea{
          width: 100%;
          border: 0;
          padding: 5px 10px;
        }
      }
    }
  }
  .simplebar-track.simplebar-horizontal{
    background-color: #f0f0f0;
    border-radius: 8px;
  }
  .simplebar-scrollbar:before{
    background-color: #555;
  }
}
