@charset 'UTF-8';
@import '../utility/*';

.btn-setting{
  margin-left: 10px;
  @include SP{
    margin-left: 0;
    margin-top: 7px;
  }
}
.sec-bg{
  padding-bottom: 56px;
  @include SP{
    padding-bottom: 40px;
  }
}

.sec-filter{
  margin-bottom: 30px;
  .lst-filter{
    padding-bottom: 35px;
    border-bottom: 1px solid #E2E2E2;
    font-size: 0;
    @include SP{
      padding-bottom: 10px;
    }
    .item{
      @include flex(1,0);
      flex-wrap: wrap;
      @include SP{
        display: block;
        margin-bottom: 20px;
      }
      .item-ttl,
      select{
        display: inline-block;
        vertical-align: middle;
      }
      .item-ttl{
        font-size: 15px;
        font-weight: 500;
        @include SP{
          margin-bottom: 5px;
        }
      }
      select{
        border: 1px solid #E2E2E2;
        border-radius: 8px;
        font-size: 15px;
        font-weight: 500;
        height: 48px;
        padding: 5px 30px 5px 15px;
        @include add_prefix(appearance, none);
        background: url(../../img/common/icon/ard_grey.svg) center right 17px/14px 8px no-repeat;
        box-shadow: inherit;
        @include SP{
          width: calc(100% - 85px);
          margin-right: 0;
          background-size: 10px 6px;
          background-position: center right 10px;
        }
      }
      &--studio{
        width: calc(100% - 315px);
        padding-right: 80px;
        @include SP{
          width: 100%;
          padding-right: 0;
        }
        .item-ttl{
          width: 120px;
          @include SP{
            width: 100%;
          }
        }
        select{
          width: calc(100% - 120px);
          @include SP{
            width: 100%;
          }
        }
      }
      &--date{
        width: 315px;
        @include SP{
          width: 100%;
        }
        .item-ttl{
          width: 100px;
          @include SP{
            width: 100%;
          }
        }
        select{
          width: calc(100% - 100px);
          @include SP{
            width: 100%;
          }
        }
      }
    }
  }
}

.sec-main-post{
  margin-bottom: 63px;
  @include SP{
    margin-bottom: 50px;
  }
}
.div-form{
  .sec-field{
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 23px;
    @include SP{
      border-bottom: 0;
      margin-bottom: 10px;
    }
    .item{
      font-size: 0;
      @include flex();
      flex-wrap: wrap;
      &:not(:last-child){
        margin-bottom: 25px;
        @include SP{
          margin-bottom: 15px;
        }
      }
      label,
      input,
      textarea{
        display: inline-block;
        vertical-align: top;
        @include add_prefix(appearance, none);
        &[readonly]{
          background-color: #fff;
          box-shadow: inherit;
        }
        @include SP{
          display: block;
        }
      }
      label{
        font-size: 15px;
        width: 170px;
        padding-top: 10px;
        @include SP{
          width: 100%;
          margin-bottom: 7px;
        }
      }
      input,
      textarea{
        width: calc(100% - 170px);
        border: 1px solid #E2E2E2;
        border-radius: 8px;
        padding: 10px 10px;
        width: calc(100% - 170px);
        @include font(15,26px,'',500);
        @include ffYG;
        @include SP{
          width: 100%;
        }
      }
      input{
        height: 46px;
      }
      textarea{
        height: 150px;
      }
      select{
        width: 122px;
        margin-right: 23px;
        border: 1px solid #E2E2E2;
        border-radius: 8px;
        font-size: 15px;
        font-weight: 500;
        height: 48px;
        padding: 5px 30px 5px 15px;
        @include add_prefix(appearance, none);
        background: url(../../img/common/icon/ard_grey.svg) center right 17px/14px 8px no-repeat;
        @include ffYG;
        @include SP{
          width: calc(100% - 85px);
          margin-right: 0;
          background-size: 10px 6px;
          background-position: center right 10px;
        }
      }
    }
    .item-editor{
      font-size: 0;
      @include flex();
      flex-wrap: wrap;
      &:not(:last-child){
        margin-bottom: 25px;
        @include SP{
          margin-bottom: 15px;
        }
      }
      label{
        display: inline-block;
        vertical-align: top;
        @include add_prefix(appearance, none);
        &[readonly]{
          background-color: #fff;
          box-shadow: inherit;
        }
        @include SP{
          display: block;
        }
      }
      label{
        font-size: 15px;
        width: 170px;
        padding-top: 10px;
        @include SP{
          width: 100%;
          margin-bottom: 7px;
        }
      }
      .wp-editor{
        width: calc(100% - 170px);
        @include SP{
          width: 100%;
        }
      }
    }
  }

  .sec-btn-submit{
    text-align: center;
    .btn-add-new{
      font-size: 15px;
      line-height: 48px;
      font-weight: bold;
      background-color: $pinkpurple;
      max-width: 287px;
      width: 100%;
      margin: 40px auto 0;
      text-align: center;
      color: #fff;
      border-radius: 8px;
      border: 0;
      @include SP{
        margin-top: 0;
      }
    }
  }
}

.sec-lst{
  padding-bottom: 80px;
  @include SP{
    padding-bottom: 30px;
  }
  .ttl{
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 13px;
  }
  .lst-ttl{
    padding: 0 30px;
    font-size: 0;
    margin-bottom: 10px;
    .item{
      font-size: 15px;
      font-weight: bold;
      color: #A0A0A0;
      display: inline-block;
      vertical-align: top;
      padding-left: 10px;
      @include PC{
        &:nth-child(1){
          width: 260px;
        }
        &:nth-child(2){
          width: calc(100% - 482px);
        }
        &:nth-child(3){
          width: 222px;
        }
      }
      @include SP{
        display: none;
      }
    }
  }
  .lst-post{
    font-size: 0;
    .item{
      background-color: #fff;
      border-radius: 18px;
      padding: 25px 30px;
      margin-bottom: 8px;
      @include flex(1,0);
      flex-wrap: wrap;
      @include SP{
        padding: 20px;
      }
      .item-ttl,
      .item-content,
      .item-btns{
        @include PC{
          display: inline-block;
          vertical-align: top;
        }
        @include SP{
          display: block;
        }
      }
      .item-ttl,
      .item-content{
        @include font(15,26px,'',500);
      }
      .item-ttl{
        @include PC{
          width: calc(100% - 482px);
          padding-right: 30px;
        }
        @include SP{
          font-weight: bold;
          margin-bottom: 10px;
          width: 100%;
        }
      }
      .item-content{
        @include PC{
          width: 260px;
          padding-right: 30px;
        }
        @include SP{
          margin-bottom: 10px;
          width: 100%;
        }
      }
      .item-btns{
        @include PC{}
        width: 222px;
        font-size: 0;
        @include flex(1,0);
        flex-wrap: wrap;
        .btn-edit,
        .btn-delete{
          display: inline-block;
          vertical-align: top;
          font-size: 13px;
          font-weight: bold;
          border: 1px solid currentColor;
          padding: 5px 5px 5px 25px;
          border-radius: 8px;
          text-align: center;
        }
        .btn-edit{
          width: 107px;
          margin-right: 12px;
          color: #218CE8;
          background: url(../../img/common/icon/ico_edit.svg) center left 10px/13px 13px no-repeat, #C3E7FF;
        }
        .btn-delete{
          width: 103px;
          color: #E5749B;
          background: url(../../img/common/icon/ico_delete.svg) center left 15px/12px 15px no-repeat, #FFDEE5;
        }
      }
      input{
        @include add_prefix(appearance, none);
        border: 1px solid #E2E2E2;
        border-radius: 8px;
        background-color: transparent;
        display: inline-block;
        font-size: 15px;
        padding: 10px 10px;
        color: #000;
        @include ffYG;
        box-shadow: inherit;
        width: 100%;
        transition: 0s;
        @include SP{
          margin: 0;
          margin-bottom: 5px;
          text-align: left;
        }
        &:disabled{
          border: 0;
        }
      }
    }
  }
}