@charset 'UTF-8';
@import '../utility/*';
// @font-face {
//   font-family: CollectionFree;
//   src: url(../../font/CollectionFree.otf);
// }
.visual{
  background: none;
  overflow: hidden;
  position: relative;
  &:before{
    content:"";position: absolute;
    width: 100%;height: 100%;
    background: url(../../img/top/mv_filter.png) top left/cover repeat;
    top:0;left:0;
    z-index: 0;
  }
  video{
    min-width:100vw;min-height:100vh;
    position: absolute;
    // top:0;left:0;
    top:50%;left:50%;
    @include transform_c(translate(-50%,-50%));
  }
}
.breadcrumb{
  padding-bottom: 15px;
}
$pinkpurple: #920783;
$lightpurple: #AE70AC;
$purple1: #6D2E81;
.hid_url{
  display: none;
}
body {
  @include notoserif;
}
.topic-ttl {
  @include font(36, 51/36, 0.1, 600);
  text-align: center;

  @include SP {
    @include font(28, 46/28, '');
  }
}
.container-1170 {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-1080 {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-900 {
  max-width: 930px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-750 {
  max-width: 780px;
  padding: 0 15px;
  margin: 0 auto;
}
.sec-intro {
  padding: 70px 5px 50px;
  background: url(../../img/studio/bg01.jpg) center/cover no-repeat;
  overflow: hidden;
  @include SP {
    background: #F8EDF1;
    position: relative;

    &:before {
      @include absolute('', calc(100vw + 200px), calc(100vw + 200px), 46%, '', '', 50%);
      padding-top: 100%;
      background-color: rgba($color: #fff, $alpha: 0.5);
      border-radius: 50%;
      @include transform_c(translate(-50%, -50%));
    }
  }
  .gr{
    display: flex;width:100%;
    justify-content: space-between;
    align-items: center;flex-wrap: wrap;
  }
  .inside {
    width: 60%;
    @include SP {
      width:100%;
      padding: 65px 0 30px;
      position: relative;
      z-index: 1;
    }
  }
  .bg{
    width: 37%;
    @include max-screen(767px){width:100%;}
    .img{
      width: 100%;display: block;
      @include aspect-ratio(400,300);
      background-size: cover;
      background-position: center;
    }
  }
  .the-title {
    margin-bottom: 50px;
    font-weight: 500;
    @include SP {
      margin-bottom: 0px;
    }
  }
  .lst-intro {
    font-size: 0;
    @include SP {text-align: center;}
    .item {
      width: calc(33.33% - 22px);
      @include aspect-ratio(1, 1);
      @include ffYM;
      background-color: $lightpurple;
      position: relative;
      display: inline-block;
      border-radius: 50%;
      color: #fff;
      box-shadow: 0 10px 0 rgba($color: #E0C0DF, $alpha: 0.5);
      @include PC {
        &:not(:first-child) {
          margin-left: 32px;
        }
      }
      @include SP {
        width: 100%;
        max-width: 220px;
        margin-bottom: 24px;
      }
      .txt {
        @include absolute(0, 100%, auto, 50%, '', '', 0);
        text-align: center;
        @include transform_c(translateY(-50%));
      }
      .txt01 {
        @include font(24, 40/24, 0.15, 500);
        @include screen(951px,1024px){font-size: 20px;}
        @include screen(768px,950px){font-size: 16px;}
      }
      .txt02 {
        @include font(42, 63/42, 0.06, 500);
        @include screen(768px,1024px){font-size: 34px;}
        @include screen(768px,950px){font-size: 30px;}
      }
      .price {
        .number,.unit {
          display: inline-block;
          vertical-align: bottom;
        }
        .number {
          @include font(68, 68/68, 0.06, 500);
          @include screen(951px,1024px){font-size: 56px;}
          @include screen(768px,950px){font-size: 40px;}
        }
        .unit {
          @include font(32, 51/32, 0.06, 500);
          @include screen(951px,1024px){font-size: 30px;}
          @include screen(768px,950px){font-size: 24px;}
        }
      }
    }
  }
}
.sec-btns {
  background: url(../../img/studio/bg02.jpg) center/cover no-repeat;
  font-size: 0;
  padding: 80px 15px;
  @include SP {
    background-image: url(../../img/studio/bg02_sp.jpg);
    padding: 73px 10px 45px 5px;
  }
  .btn {
    width: calc(50% - 20px);
    @include font(18, 20/18, 0.15em, 600);
    background-color: #fff;
    display: inline-block;
    text-align: center;
    padding: 35px 15px;
    box-shadow: 8px 8px 0 rgba($color: #000, $alpha: 0.5);
    @include PC {
      &:nth-child(2) {
        margin-left: 40px;
        @include screen(768px,1000px){margin-left: 20px;}
      }
    }
    @include screen(768px,1000px){
      width: calc(50% - 10px);
      padding: 25px 10px;
    }
    @include SP {
      width: 100%;
      padding: 25px 20px 25px 15px;
      text-align: left;
      margin-bottom: 28px;
    }
    span {
      position: relative;
      display: inline-block;
      padding-right: 70px;
      @include screen(768px,1000px){padding-right: 50px;font-size: 17px;}
      @include SP{
        padding-right: 40px;
        text-align: center;
        width: 100%;font-size: 17px;
      }
      @include max-screen(370px){font-size: 14px;padding-right: 30px;}
      &:after {
        @include absolute('', 56px, 5px, calc(50% - 2px), '', 0, '');
        background: url(../../img/common/icon/arr_black.svg) center/cover no-repeat;
        transition: 0.5s ease;
        @include max-screen(1000px){
          right: -5px;
          background-size: 35px auto;
          background-position: right center;
        }
        @include max-screen(370px){right: -8px;background-size: 30px auto;}
      }
    }
    @include PC {
      &:hover span:after {right: -15px;}
    }
    &:hover {opacity: 1;}
  }
}
.sec-charge {
  padding-top: 80px;
  margin-bottom: 40px;
  @include SP {
    padding-top: 45px;
    margin-bottom: 10px;
  }
  .the-title {
    margin-bottom: 54px;
    @include SP {margin-bottom: 36px;}
  }
  .lst-price {
    .item {
      .item-ttl {
        width: 100%;
        border-top: 1px solid #E8CFD8;
        padding: 23px 75px;
        background: url(../../img/studio/ico_yen.svg) center left 20px/42px 42px no-repeat, #F8EDF1;
        font-size: 0;
        position: relative;
        cursor: pointer;
        transition: 0.5s ease;
        @include SP {
          background-size: 36px 36px;
          background-position: top 16px left 12px;
          padding: 20px 40px 25px 60px;
        }
        @include PC {
          &:hover {opacity: 0.5;}
        }
        &:after {
          @include absolute('', 31px, 13px, calc(50% - 6px), '', 31px, '');
          background: url(../../img/studio/aru_purple.svg) center/cover no-repeat;
          @include transform_c(rotate(180deg));
          transition: 0.5s ease;
          @include SP {
            @include absolute('', 26px, 12px, 30px, '', 13px, '');
          }
        }
        .txt01 {
          @include font(18, '', 0.1, 600);
          @include noto;
          @include max-screen(767px){
            font-size: 16px;
          }
        }
        .txt02 {
          @include font(15, '', 0.1, bold);
          margin-left: 7px;
          @include SP {
            font-size: 13px;
            margin-left: 0;
            margin-top: 3px;
            // display: block;
          }
        }
      }
      .tbl {
        padding-bottom: 16px;
        display: none;
        @include SP {padding-bottom: 9px; }
        .row {
          @include flex();
          font-size: 0;
          .th,.td {
            padding: 17px 0px;
            @include SP {
              padding: 22px 0;
            }
          }
          .th,.td01,.td02 {
            display: inline-block;
            vertical-align: top;
            @include font(15, '', 0.1, bold);
            @include max-screen(767px){
              font-size: 14px;
            }
          }
          .td {
            display: inline-block;
            vertical-align: top;
            border-bottom: 1px solid #E8CFD8;
          }
          .th {
            width: 250px;
            text-align: center;
            border-bottom: 1px solid $pinkpurple;
            @include SP {width: 145px;}
          }
          .td {
            width: calc(100% - 250px);
            @include SP {
              width: calc(100% - 145px);
              padding-left: 15px;
            }
          }
          .td01 {
            width: 200px;
            text-align: center;
            @include SP {
              width: 100%;
              text-align: left;
              margin-bottom: 9px;
            }
          }
          .td02 {
            width: calc(100% - 200px);
            font-weight: normal;
            @include SP {width: 100%;font-size: 12px;}
          }
          &:last-child {
            .th,.td {
              border-bottom: 0;
            }
          }
        }
      }
      &.active {
        .item-ttl:after {
          @include transform_c(rotate(0deg));
        }
      }
    }
  }
  .script {
    @include font(13, '', 0.1);
    color: rgba($color: #000, $alpha: 0.5);
    text-align: right;
    margin-top: 12px;
    @include SP {
      line-height: 21px;
      text-align: left;
      margin-top: 17px;
    }
  }
}
.sec-stuff {
  background: rgba(233,233,233,0.4);
  padding: 80px 0 60px;
  // margin-bottom: 122px;
  @include SP {
    padding: 50px 0 0px;
    // margin-top: 22px;
  }
  .the-title {
    margin-bottom: 88px;
    @include SP {
      margin-bottom: 59px;
    }
  }
  .lst-stuff {
    font-size: 0;
    .item {
      width: calc(33.33% - 47px);
      display: inline-block;
      vertical-align: top;
      @include SP {
        width: 100%;
        margin-bottom: 72px;
      }
      @include PC {
        &:not(:nth-child(3n+1)) {
          margin-left: 70px;
        }
      }
      .img {
        position: relative;
        margin-bottom: 40px;
        @include SP {
          width: calc(100% - 10px);
          margin-bottom: 38px;
        }
        img {width: 100%;}
        &:before {
          @include absolute('', 100%, 100%, -10px, '', -10px, '');
          border: 1px solid #000;
        }
      }
      .item-ttl {
        @include font(24, '', 0.1, bold);
        position: relative;
        text-align: center;
        padding-bottom: 34px;
        margin-bottom: 30px;
        @include SP {
          font-size: 20px;
          padding-bottom: 22px;
          margin-bottom: 19px;
        }
        &:before {
          @include absolute('', 50px, 1px, '', 5px, '', calc(50% - 25px));
          background-color: $pinkpurple;
        }
        &:after {
          @include absolute('', 25px, 1px, '', 0, '', calc(50% - 13px));
          background-color: $lightpurple;
        }
      }
      .item-txt {
        @include ffYM;
        @include font(15, 27/15, 0.1, 500);
        color: #333;
      }
    }
  }
}
.sec-feeling {
  background-color: #F8EDF1;
  padding: 60px 0 80px;
  @include SP {padding: 50px 0 18px;}
  .the-title {
    margin-bottom: 50px;
    @include SP {margin-bottom: 40px;}
  }
  .lst-feeling {
    font-size: 0;
    .item {
      width: calc(33.33% - 40px);
      display: inline-block;
      vertical-align: top;
      @include SP {
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
        img{max-width: 240px;}
      }
      @include PC {
        &:not(:first-child) {
          margin-left: 60px;
        }
      }
      .name {
        @include font(19, 1.6, 0.06, 600);
        color: #333;
        text-align: center;
      }
    }
  }
}
.sec-voice {
  padding: 90px 0;
  .container-1080{max-width: 1000px;}
  @include SP {
    padding: 50px 0 50px;
  }
  .the-title {
    margin-bottom: 74px;
    @include SP {
      margin-bottom: 45px;
    }
  }
  .slider {
    margin-bottom: 80px;
    @include SP {
      margin-block-end: 50px;
    }
    .item {
      max-width: 450px;
      margin-right: 8px;
      @include aspect-ratio(450, 300);
      background: center/cover no-repeat;
    }
  }
  .btns {
    max-width: 850px;
    margin: 0 auto;
    font-size: 0;
    .btn {
      width: calc(50% - 15px);
      display: inline-block;
      vertical-align: top;
      background-color: #000;
      color: #fff;
      text-align: center;
      padding: 22px 10px;
      @include font(20, 35/22, 0.06, bold);
      @include PC {
        &:nth-child(2) {
          margin-left: 30px;
        }
      }
      @include SP {
        width: 100%;
        margin-bottom: 25px;
        font-size: 18px;
        padding: 16px 10px;
      }
    }
  }
}

.feature{
  margin-bottom: 80px;
  @include SP{
    margin-bottom: 40px;
  }
  @include max-screen(370px){padding:0 10px;}
  .the-title {
    margin-bottom: 80px;
    @include SP {
      margin-bottom: 35px;
    }
  }
}

.sec-schedule{
  background: rgba(233,233,233,0.15) url(../../img/studio/bg_schedule.jpg) bottom right/auto 250px no-repeat;
  padding: 50px 0px 150px;
  min-height: 580px;
  @include SP{
    padding: 30px 15px 50px;
  }
  .container-1080{
    @include SP{
      padding: 0
    }
  }
  .the-title{
    margin-bottom: 46px;
    @include SP{
      margin-bottom: 29px;
    }
  }
  .out-lst{
    // overflow: auto;
    width: 100%;
    padding-bottom: 30px;
    @include SP{
      // width: calc(100% + 30px);
      // margin: 0 -15px;
    }
    .simplebar-track.simplebar-horizontal{
      height: 5px;
      .simplebar-scrollbar{
        height: 3px;
      }
    }
  }
  .lst-schedule{
    @include notosans;
    font-size: 0;
    @include SP{width: 770px;}
    .col{
      width: 14.28%;
      display: inline-block;
      vertical-align: top;
      .lesson{
        padding: 0 5px;
        margin-bottom: 10px;
        &:not(.empty):not(.disabled){
          cursor: pointer;
          transition: 0.5s ease;
          &:hover{
            opacity: 0.6;
          }
        }
        .bg{
          background: #fff;
          padding: 10px 5px;
          text-align: center;
          border: 2px solid #ccc;
          position: relative;
          height: 100%;
          display: flex;
          flex-direction: column;
          @include SP{
            padding: 6px 5px;
          }
        }
        .time{
          @include font(13,'',0.1em, 500);
          order: 2;
          margin: 7px auto 5px;
          @include SP{
            font-size: 12px;
            margin-bottom: 7px;
          }
        }
        .ttl{
          @include font(14,1.4,0.05,600);
          color: #fff;
          border-radius: 4px;
          padding: 3px 5px;
          @include noto;
          background: $purple_bg;
          order: 1;
          @include SP{
            font-size: 12px;
          }
        }
        .level{
          order: 3;
          // margin-top:3px;
          color: #FFC700;
          @include font(12,'',0.05);
          @include SP{font-size: 10px;}
        }
        &.disabled{
          .bg{
            border-color: rgba($color: #000, $alpha: 0.3);
            &:before{
              @include absolute('',100%,100%,0,'','',0);
              background: rgba($color: #000, $alpha: 0.3);
            }
          }
        }
      }
    }
  }
}
.sec-lesson{
  // background: rgba(233,233,233,0.5);
  padding: 70px 0 30px;
  @include max-screen(767px){padding-bottom: 0;}
  .wcm{max-width: 920px;}
  .etr{
    margin-top: 50px;
    &__item{
      align-items: center;
      &:not(:last-child){
        margin-bottom: 20px;
        @include max-screen(370px){margin-bottom: 15px;}
      }
      &.active{
        .etr__item--ttl:before{
          @include transform_c(rotate(-225deg));
          top: calc(50% - 9px);
          @include max-screen(767px){
            top: calc(50% - 7px);
          }
        }
      }
      &--ttl{
        @include font(20,1.5,0.1,600);
        padding: 15px 22px 15px;
        position: relative;
        cursor: pointer;
        @include transition_c(all 0.3s);
        background: $purple_bg;
        color: #fff; 
        &:before{
          content:"";position: absolute;
          width: 14px;height: 14px;
          border-top: 2px solid #fff;
          border-right: 2px solid #fff;
          top: calc(50% - 4px);
          right: 20px;
          @include transform_c(rotate(-45deg));
          @include transition_c(all 0.3s);
          @include max-screen(767px){
            width: 10px;height: 10px;
            border-width: 1px;
            top: calc(50% - 2px);
          }
        }
        @include max-screen(767px){
          font-size: 16px;
          padding: 12px 20px;
          display: block;
        }
        @include max-screen(370px){padding: 10px 18px;font-size: 15px;}
      }
      .js-hide{
        display: none;
      }
      &--cont{
        width: 100%;flex-wrap: wrap;
        display: flex;justify-content: space-between;
        padding: 25px 25px;
        @include max-screen(767px){
          padding: 20px 10px;
        }
        .image{
          width: 330px;
          @include max-screen(767px){
            width: 100%;
          }
          .img{
            @include aspect-ratio(2,1.2);
            background-position: center;
            background-size: cover;
          }
        }
        .info{
          width: calc(100% - 360px);
          @include max-screen(767px){
            width:100%;
            padding: 12px 0;
          }
          .txt{
            @include font(15,1.7,0.1,400);
            @include ffYG;
            padding: 15px 0;
            @include max-screen(767px){
              font-size: 14px;line-height: 1.6;
              padding: 10px 0 0;
            }
          }
        }
      }
    }
  }
}
.sec-form {
  padding-top: 50px;
  margin-bottom: 80px;

  @include SP {
    margin-bottom: 70px;
  }

  .the-title{
    margin-bottom: 71px;

    @include SP {
      margin-bottom: 40px;
    }
  }

  .stepImg {
    text-align: center;
    margin-bottom: 78px;

    @include SP {
      margin-bottom: 34px;
    }
  }

  .tableContact {
    @include notosans;
    margin-bottom: 60px;

    @include SP {
      display: block;
      margin-bottom: 34px;
    }

    * {
      @include notosans;
    }

    tr {

      th,
      td {
        vertical-align: top;
        padding-bottom: 24px;

        @include SP {
          display: block;
        }
      }

      th {
        width: 220px;
        padding-right: 45px;
        padding-top: 10px;
        position: relative;
        text-align: left;
        @include font(15, 24/15, 0.15, 500);

        @include SP {
          width: 100%;
          padding-right: 0;
          padding-bottom: 10px;
        }

        &:after {
          @include absolute('必須', 40px, 20px, 10px, '', 0, '');
          @include font(12, 20/12, 0.15, 500);
          color: #fff;
          background-color: $pinkpurple;
          text-align: center;

          @include SP {
            position: static;
            display: inline-block;
            margin-left: 10px;
          }
        }

        &.norequire {
          &:after {
            content: '任意';
            background-color: #707070;
          }
        }
      }

      td {
        width: calc(100% - 220px);
        padding-left: 30px;
        font-size: 0;

        @include SP {
          width: 100%;
          padding-left: 0;
          padding-bottom: 14px;
        }

        select,
        input,
        textarea {
          @include font(15, 24/15, 0.15);
          height: 42px;
          background-color: #EFEFEF;
          width: 100%;
          padding: 0 15px;
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          border-radius: 0;
          color: $color_body;
          border: 0;

          @include SP {
            padding: 0 10px;
          }

          ::placeholder {
            color: #A7A7A7;
            opacity: 1;
          }

          :-ms-input-placeholder {
            color: #A7A7A7;
          }

          ::-webkit-input-placeholder {
            color: #A7A7A7;
          }
        }

        select {
          background: #EFEFEF url(../../img/common/icon/ico_select.svg) right 13px center/11px 8px no-repeat;
        }

        textarea {
          height: 115px;
          padding-top: 10px;
          padding-bottom: 10px;
        }

        label {
          width: calc(50% - 10px);
          display: inline-block;
          vertical-align: top;
          margin-bottom: 10px;
          position: relative;

          @include PC {
            &:nth-child(2n) {
              margin-left: 20px;
            }
          }

          @include SP {
            width: 100%;
          }

          span,
          input {
            display: inline-block;
            vertical-align: top;
          }

          span {
            @include font(14, 24/14, 0.15);
            width: calc(100% - 20px);
            padding-left: 10px;
          }

          input {
            margin-top: 3px;
            position: relative;

            &[type="radio"] {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: 0;
              padding: 0;

              &:checked {
                &:after {
                  @include absolute('', calc(100% - 8px), calc(100% - 8px), 4px, '', '', 4px);
                  background-color: $lightpurple;
                  border-radius: 50%;
                }
              }
            }
          }
        }

        .row {
          margin-top: 24px;
          @include SP{
            margin-top: 20px;
          }
          // &--other {
          //   margin-top: 10px;
          //   margin-bottom: 30px;

          //   @include SP {
          //     margin-bottom: 20px;
          //   }
          // }
        }

        .half {
          width: calc(50% - 10px);
          display: inline-block;
          vertical-align: top;

          @include SP {
            width: calc(50% - 7px);
          }

          &:nth-child(2n) {
            margin-left: 20px;

            @include SP {
              margin-left: 14px;
            }
          }
        }

        .fullsp {
          @include SP {
            width: 100%;
          }
        }

        .txt {
          @include font(15, 24/15, 0.15);
          padding-top: 7px;
        }

        .note{
          @include font(12, 18/12, 0.15);
          padding-top: 5px;
          color: #e34d4b;
          display: block;
        }
      }
    }

    &--step2 {
      tr {
        th {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  .btn-row {
    text-align: center;
  }

  .btn-confirm {
    max-width: 340px;
    width: 100%;
    @include font(18, 20/18, 0.15, 600);
    background-color: #000;
    display: inline-block;
    text-align: center;
    padding: 18px 15px;
    box-shadow: 0px 5px 0 rgba($color: #000, $alpha: 0.16);
    border: 0;
    @include notoserif;
    @include max-screen(370px){
      font-size: 16px;
    }

    &:focus {
      outline: 0;
    }

    @include PC {
      &:nth-child(2) {
        margin-left: 60px;
      }
    }

    span {
      position: relative;
      display: inline-block;
      padding-right: 70px;
      color: #fff;
      @include max-screen(370px){padding-right: 40px;width:100%;}
      &:after {
        @include absolute('', 56px, 5px, calc(50% - 2px), '', 0, '');
        background: url(../../img/common/icon/arr_white.svg) center/cover no-repeat;
        transition: 0.5s ease;
        @include max-screen(767px){
          background-size: 35px auto;
          background-position: right center;
          right:0;
        }
      }
    }

    @include PC {
      &:hover {
        span {
          &:after {
            right: -15px;
          }
        }
      }
    }
  }
}

.sec-access {
  padding-top: 70px;
  margin-bottom: 100px;

  @include SP {
    padding-top: 50px;
    margin-bottom: 40px;
  }

  .the-title {
    margin-bottom: 62px;

    @include SP {
      margin-bottom: 35px;
    }
  }

  .access {
    @include PC {
      @include flex();
    }

    .map,
    .info {
      width: 50%;
      @include SP {
        width: 100%;
      }
    }

    .map {
      position: relative;
      @include screen(768px,1000px){width:45%;}
      @include SP {
        height: 220px;
        margin: 0 -15px;
        width: calc(100% + 30px);
      }
      iframe {
        border: 3px solid rgba(0,0,0,0.1);
        @include absolute('', 100%, 100%, 0, '', '', 0);
        @include SP {border: none;}
      }
    }
    .info {
      padding: 10px 0 10px 40px;
      @include notosans;
      @include screen(768px,1000px){padding-left: 20px;width:55%;}
      @include SP {
        padding: 31px 0;
      }
      .inside {
        max-width: 460px;
        margin: 0 0 0 auto;
      }
      .row {
        font-size: 0;
        border-top: 1px solid #A7A7A7;
        @include SP {
          padding-top: 12px;
          padding-bottom: 15px;
          &:first-child {
            border-top: 0;
            padding-top: 0;
          }
        }
        .th, .td {
          @include font(15, 25/15, 0.06);
          display: inline-block;
          vertical-align: top;
          @include screen(768px,1000px){font-size: 14px;}
        }
        .th {
          font-weight: bold;
          width: 150px;
          padding: 23px 10px 23px 10px;
          @include SP {
            padding: 0;
            width: 100%;
            margin-bottom: 5px;
          }
        }

        .td {
          width: calc(100% - 150px);
          padding: 23px 0px;

          @include SP {
            padding: 0;
            width: 100%;
          }
        }

        &:last-child {
          border-bottom: 1px solid #A7A7A7;
        }
      }
    }
  }
}


.sec-thanks {
  margin-bottom: 93px;
  @include SP {
    margin-bottom: 50px;
  }
  .the-title{
    margin-bottom: 71px;

    @include SP {
      margin-bottom: 40px;
    }
  }
  .stepImg{
    margin-bottom: 62px;
    text-align: center;
    @include SP {
      margin-bottom: 37px;
    }
  }

  .txt-thanks {
    text-align: center;
    padding: 36px 0;

    @include SP {
      padding: 10px 0;
    }

    .ttl {
      @include font(24,'',0.04,600);
      margin-bottom: 35px;

      @include SP {
        margin-bottom: 28px;
      }

      @include max-screen(370px) {
        font-size: 20px;
      }
    }

    .content {
      font-size: 15px;
      letter-spacing: 0.01em;
      line-height: 27px;
      margin-bottom: 116px;

      @include SP {
        text-align: left;
        margin-bottom: 50px;
      }
    }

    .btn-backtop {
      font-size: 16px;
      letter-spacing: 0.01em;
      text-align: center;
      position: relative;
      width: 226px;
      height: 58px;
      line-height: 54px;
      background-color: $color_body;
      display: inline-block;
      color: #fff;

      &:before {
        position: absolute;
        content: '';
        border-left: 2px solid #fff;
        border-top: 2px solid #fff;
        width: 8px;
        height: 8px;
        top: calc(50% - 4px);
        left: 20px;
        @include transform_c(rotate(-45deg));
      }
    }
  }
}

.single-studio.step2,
.single-studio.indexThx{
  padding-top: 175px;
  @include SP{
    padding-top: 130px;
  }
}

.sec-schedule-popup{
  display: block;
  height: 0;
  position: fixed;
  width: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 9999999;
  &.active{
    display: table;
    height: 100%;
  }
  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: -1;
  }
  .wrap_bg{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }

  .wrap_container{
    max-width: 530px;
    width: 100%;
    margin: auto;
    padding: 50px 15px;
    max-height: 100vh;
    overflow: auto;
  }

  .btn_close{
    width: 20px;
    height: 20px;
    position: relative;
    display: block;
    margin: 0 0 0 auto;
    padding-right: 20px;
    padding-top: 40px;
    cursor: pointer;
    transition: 0.5s ease;
    &:hover{
      opacity: 0.5;
    }
    @include SP{
      padding-right: 40px;
    }
    &:after{
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: url(../../img/common/icon/ico_close.svg) center/cover no-repeat;
      left: calc(50% - 10px);
      bottom: calc(50% - 10px);
    }
  }
  .box-info{
    padding: 0 0 30px;
    text-align: left;
    position: relative;
    background-color: #fff;
    .each{
      display: none;
      &.active{
        display: block;
      }
    }
    .img{
      background: #d0d0d0 center/cover no-repeat;
      @include aspect-ratio(5,2);
    }
    .lst-info{
      padding: 30px 20px 0;
      font-size: 0;
      .item{
        margin-bottom: 15px;
        width: calc(50% - 10px);
        display: inline-block;
        &:nth-child(2n){
          margin-left: 20px;
        }
        &:last-child{
          width: 100%;
          margin-bottom: 0;
        }
        .item-ttl{
          @include font(14,20px,0.05);
          margin-bottom: 5px;
          color: #aaa;
        }
        .item-txt{
          @include font(16,24px,0.05,500);
          @include notosans;
        }
      }
    }
    .btn-box,
    a.btn-box{
      max-width: 340px;
      width: calc(100% - 40px);
      @include font(18, 20/18, 0.15, 600);
      background-color: #000;
      display: block;
      text-align: center;
      padding: 18px 15px;
      box-shadow: 0px 5px 0 rgba($color: #000, $alpha: 0.16);
      border: 0;
      @include notoserif;
      margin: 30px auto 0;

      &:focus {
        outline: 0;
      }

      @include PC {
        &:nth-child(2) {
          margin-left: 60px;
        }
      }

      span {
        position: relative;
        display: inline-block;
        padding-right: 70px;
        color: #fff;

        &:after {
          @include absolute('', 56px, 5px, calc(50% - 2px), '', 0, '');
          background: url(../../img/common/icon/arr_white.svg) center/cover no-repeat;
          transition: 0.5s ease;
        }
      }

      @include PC {
        &:hover {
          span {
            &:after {
              right: -15px;
            }
          }
        }
      }
    }
  }
}
.stuff{
  background: rgba(233,233,233,0.4);
  padding: 80px 0 90px;
  @include max-screen(767px){padding: 50px 0;}
  .wcm{max-width: 1000px;}
  &__lst{
    margin: 70px 0 0;
    padding-right: 50px;
    @include screen(768px,1000px){padding-right: 35px;}
    @include max-screen(767px){margin-top: 40px;padding:0;}
    &--item{
      width: 100%;background: #fff;
      display: flex;justify-content: space-between;
      align-items: center;flex-wrap: wrap;
      padding: 30px 20px 30px 50px;
      border: 3px solid rgba(0,0,0,0.1);
      @include screen(768px,1000px){
        padding: 25px 25px 25px 30px;
      }
      @include max-screen(767px){
        padding: 0;bordeR:none;
        background: none;
      }
      .img{
        width: 450px;
        position: relative;
        margin-right: -70px;
        @include clearfix();
        @include screen(768px,1000px){
          width: 300px;margin-right: -55px;
        }
        @include max-screen(767px){
          order: 1;width:100%;
          margin: 0 auto -2px;
          padding:0 35px;
          position: relative;
          &:before{
            content:"";position: absolute;
            width:100%;height: 50%;
            background: #fff;
            bottom: 0;left:0;
            border-top: 2px solid rgba(0,0,0,0.1);
            border-left: 2px solid rgba(0,0,0,0.1);
            border-right: 2px solid rgba(0,0,0,0.1);;
          }
        }
        @include max-screen(370px){padding: 0 30px;}
        .img1,.img2{
          display: block;
          width: 100%;
          max-width: 300px;
          @include aspect-ratio(200,135);
          background-size: cover;
          background-position: center;
          @include screen(768px,1000px){
            max-width: 240px;
          }
          @include max-screen(767px){
            max-width: calc(100% - 50px);
            border: 2px solid rgba(0,0,0,0.1);
          }
        }
        .img1{
          float: right;
        }
        .img2{
          float: left;
          margin-top: -75px;
        }
      }
      .info{
        width: calc(100% - 380px);
        @include screen(768px,1000px){
          width: calc(100% - 245px);
        }
        @include max-screen(767px){
          order: 2;width:100%;
          background: #fff;
          border-bottom: 2px solid rgba(0,0,0,0.1);
          border-left: 2px solid rgba(0,0,0,0.1);
          border-right: 2px solid rgba(0,0,0,0.1);;
          padding: 40px 25px;
        }
        @include max-screen(370px){padding: 35px 20px;}
        ul>li{
          @include font(20,1.6,0.1,500);
          padding-left: 35px;
          background: url(../../img/top/ico_check.svg) left center/20px 21px no-repeat;           
          @include screen(768px,1000px){font-size: 18px;}
          @include max-screen(767px){
            padding-left: 30px;
            font-size: 16px;background-size: 16px auto;
            background-position: left top 4px;
          }
          @include max-screen(370px){
            font-size: 15px;
          }
          &:not(:last-child){
            margin-bottom: 20px;
            @include max-screen(370px){margin-bottom: 15px;}
          }
        }
      }
    }
  }
}