@charset 'UTF-8';
@import '../utility/*';
$border: #9C9C9C;
/*-----------------------------------------------------------
SEARCH
------------------------------------------------------------*/
.std{
	padding: 40px 0 72px;
	@include max-screen(767px){padding: 10px 0 56px;}
}
.wcm{
	width: 100%;max-width: 1106px;
	padding: 0 20px;margin: auto;
	@include max-screen(767px){
		padding: 0 16px;
	}
}
.c-search{
	&__bar{
		max-width: 660px;margin: 50px auto 56px;
		display: flex;justify-content: space-between;
		align-items: center;
		@include max-screen(767px){
			margin: 29px auto 10px;
		}
		&--btn{
			width: 150px;height: 46px;
			text-align: center;
			padding: 10px 10px 9px 7px;
			background: $purple;
			border-radius: 4px;
			cursor: pointer;
			@include transition_c(all 0.3s);
			@include min-screen(768px){
				&:hover{opacity: 1;background-color:#B352A8;}
			}
			@include max-screen(767px){
				width: 50px;height: 36px;
				background: $purple url(../../img/common/icon/ico_search.svg) center/15px 16px no-repeat;
			}
			span{
				padding: 0 4px 0 24px;
				@include font(15,16px,0.05,bold);color: #fff;
				background: url(../../img/common/icon/ico_search.svg) left center/15px 16px no-repeat;
				@include max-screen(767px){display:none;}
			}
		}
		input{
			width: calc(100% - 160px);
			@include font(15,1,0.05,500);
			padding: 18px 15px;height: 46px;
			border: 1px solid $border;
			border-radius: 4px;
			@include add_prefix(box-shadow,none);
			@include add_prefix(appearance,none);
			@include max-screen(767px){
				height: 36px;padding: 8.5px 8px;
				@include font(13,27/13,0.1,500);
				width: calc(100% - 60px);
			}
		}
	}
	&__filter{
		display: flex;justify-content: flex-start;
		align-items: center;
		&--ttl{
				@include font(15,2,0.03,bold);
				width: 68px;
				@include max-screen(767px){
					font-size: 13px;width: 54px;
				}
		}
		&--select{
			width: 200px;@include font(15,2,0.03);
			border: 1px solid #9AA1AD;
			height: 36px;padding: 3px 12px;
			@include add_prefix(box-shadow,none);
			@include add_prefix(appearance,none);
			background: #fff url(../../img/common/icon/ico_select.svg) right 13px center/6px 11px no-repeat;
			@include max-screen(767px){
				font-size: 13px;height: 30px;
				width: calc(100% - 115px);
				padding: 2px 14px;
			}
		}
	}
}
.lst-studio{
	// @include transition_c(all 0.1s);
	display: flex;justify-content: flex-start;
	flex-wrap: wrap;margin-top: 20px;
	@include max-screen(767px){margin-top: 40px;}
}