@charset 'UTF-8';
@import '../utility/*';
$border: #9C9C9C;
.wcm{max-width: 1120px;}
/*-----------------------------------------------------------
INTRO
------------------------------------------------------------*/
.visual{
	background: none;
	overflow: hidden;
	position: relative;
	&:before{
    content:"";position: absolute;
    width: 100%;height: 100%;
    background: url(../../img/top/mv_filter.png) top left/cover repeat;
    top:0;left:0;
    z-index: 0;
  }
  video{
    height: 100%;
    min-width:100vw;min-height:100vh;
    position: absolute;    top:50%;left:50%;
    @include transform_c(translate(-50%,-50%));
  }
  &__bg{
    width: 100%;height: calc(100% + 70px);
    position: absolute;
    top:0;left: 0;
    z-index: 0;
    background: url(../../img/top/mainvisual.jpg) center/cover no-repeat;
  }
}
.intro{
  // background: #F5F1F7;
  >.wcm:nth-child(1){
    max-width: 1000px;
    padding: 80px 20px 80px;
    display: flex;justify-content: space-between;
    align-items: center;flex-wrap: wrap;
    @include screen(768px,1000px){padding: 65px 20px 40px;}
    @include max-screen(767px){padding: 45px 20px;}
    @include max-screen(370px){padding: 40px 20px;}
  }
	&__img{
		width: 362px;
		img{width: 100%;border-radius: 50%;}
    @include screen(768px,1000px){width: 280px;}
		@include max-screen(767px){
      margin-top: 40px;
			order: 2;width:100%;
			text-align: center;
			img{max-width: 300px;}
		}
    @include max-screen(370px){img{width:230px;}}
	}
	.c-btn{
		@include max-screen(767px){
			order: 3;margin: 47px auto 0;
		}
	}
	&__info{
		width: calc(100% - 362px);
    padding-left: 6%;
    @include screen(768px,1000px){
      width: calc(100% - 280px);
      padding-left: 15px;
    }
		@include max-screen(767px){
			order: 1;text-align: center;
			width:100%;padding-left: 0;
		}
    &--ttl{
      @include font(24,2.2,0.1,500);
      @include noto;text-align: center;
      @include screen(768px,1000px){
        font-size: 20px;
        letter-spacing: 0.05em;
      }
      @include max-screen(767px){
        font-size: 20px;line-height: 1.8;
        font-weight: normal;
        br{display:none;}
      }
      @include max-screen(370px){font-size: 17px;}
    }
		&--txt{
			margin: 16px 0 28px;
			@include font(15,27/15,0.1,500);
			@include max-screen(767px){margin: 26px 0;}
		}
	}
  &__txt{
    width:100%;
    text-align: center;
    @include noto;
    @include min-screen(768px){
      margin-bottom: 50px;
      .wcm{
        // background: #F5F1F7;
        padding: 0px 0 60px;
        max-width: calc(100% - 100px);
      }
    }
    @include screen(768px,1000px){
      img{width: 100px;}
    }
    @include max-screen(767px){
      // background: #F5F1F7;
      max-width: calc(100% - 30px);
      margin: 0 auto 30px;
      padding: 0;
      img{width: 80px;}
    }
    &--ttl{
      @include font(24,2.2,0.1,500);
      padding: 20px 0 25px;
      @include screen(768px,1000px){
        font-size: 22px;    
        padding: 15px 0 20px; 
      }
      @include max-screen(767px){
        padding: 10px 0 15px;
        font-size: 20px;line-height: 1.8;
        font-weight: normal;
      }
      @include max-screen(370px){font-size: 18px;}
    }
    &--txt{
      @include font(18,1.6,0);
      @include screen(768px,1000px){font-size: 16px;}
      @include max-screen(767px){font-size: 15px;}
      @include max-screen(370px){font-size: 14px;}
    }
  }
}
/*-----------------------------------------------------------
INTRO
------------------------------------------------------------*/
.anchor{
	background: #E9E9E9;
	padding: 50px 0;
	@include max-screen(767px){
		padding: 30px 10px;
	}
  @include max-screen(370px){padding: 20px 10px;}
	.wcm{
		max-width: 1120px;
		display: flex;justify-content: space-between;
		align-items: center;flex-wrap: wrap;
    @include max-screen(767px){padding:0 5px;}
	}
	&__item{
		width: calc(33.33% - 20px);
		@include noto;position: relative;
		background-size: cover;
		background-position: center;
		&:after,&:before{
			content: "";position: absolute;
			width:100%;height: 100%;
			top:0;left:0;
			z-index:0;@include transition_c(all 0.3s);
		}
    &:before{
      background: #000;
      opacity: 0.4;
      z-index: 1;
    }
    &:after{
      background-image: linear-gradient(to bottom, transparent , $purple);
      opacity: 0;
      z-index: 2;
    }
		@include min-screen(768px){
			&:hover{
				opacity: 1;
				&:after{opacity: 0.5}
			}
		}
    @include screen(768px,1000px){
      width: calc(33.33% - 15px);
    }
		@include max-screen(767px){
			width: 100%;
			@include aspect-ratio(343,150);
			&:not(:last-child){margin-bottom: 16px;}
			background-position: top center;
		}
    .img{
      @include aspect-ratio(340,194);
      display: block;width:100%;
      background-position: center;
      background-size: cover;
    }
		*{color: #fff;}
		.inner{
			width:100%;text-align: center;
      display:block;
			position: absolute;
			top: 50%;left: 0;z-index:3;
			@include transform_c(translateY(-50%));
		}
		&--ttl{
			@include font(22,32/22,0.1,600);
      @include screen(768px,1000px){font-size: 17px;}
      @include max-screen(370px){font-size: 20px;}
		}
		&--txt{
			@include font(13,1,0.1,600);
			padding-right: 25px;
			@include arrow(#fff);
			position: relative;
			display: inline-block;
			&:after,&:before{right:0;}
		}
	}
}
.c-news{
	padding: 80px 0 0px;
	@include max-screen(767px){padding: 54px 0 20px;}
	.wcm{max-width: 836px;}
	@include min-screen(768px){
		&__ttl{width: 126px;}
		&__lst{
			width: calc(100% - 126px);
			margin-top: -2px;
			&--item{
				&:not(:last-child){margin-bottom: 12px;}
				.date{width: 108px;}
				.cat{width: 102px;}
				.ttl{width: calc(100% - 210px);}
			}
		}
	}
	@include max-screen(767px){
		&__lst{
			margin: 28px 0 0;
			&--item{
				padding-bottom: 11px;
				margin-bottom: 18px;
        @include max-screen(370px){margin-bottom: 11px;}
			}
		}
	}
	&__btn{
		text-align: right;
		width:100%;margin-top: 4px;
		@include max-screen(767px){margin-top:-5px;padding-top: 3px;}
	}
}
/*-----------------------------------------------------------
CHECK
------------------------------------------------------------*/
.sec-check{
  padding: 40px 0 0;
  @include screen(768px,1024px){padding: 0;}
  @include max-screen(767px){padding: 40px 20px 20px;}
  .the-title{
    @include min-screen(1025px){
      line-height: 50px;padding-bottom: 15px;
    }
    @include max-screen(767px){
      font-size: 20px;line-height: 1.8;
      padding-left:0;padding-right:0;
    }
    @include max-screen(370px){
      br{display:none;}
    }
  }
  &__bg{
    background: #F5F1F7;//rgba(233,233,233,0.6);
    text-align: right;
    margin-top: 70px;
    position: relative;
    @include screen(768px,950px){
      margin-top: 50px;
      background: none;
      padding: 0 30px;
    }
    @include max-screen(767px){margin-top: 50px;}
    &:after{
      content:"";position: absolute;
      width: 33.9%;height: 100%;
      left:0;bottom:0;
      background: url(../../img/top/bg_check.jpg) center/cover no-repeat;
      @include max-screen(950px){content: none;}
    }
    &--lst{
      display: inline-block;
      width: 66.1%;
      text-align: left;
      @include screen(768px,950px){width: 100%;}
      @include max-screen(767px){
        width: 100%;
      }
      .wcm{
        display: inline-block;
        max-width: 810px;
        padding: 55px 20px 44px 45px;
        @include screen(951px,1024px){
          padding: 40px 20px 40px 35px;
        }
        @include screen(768px,950px){
          padding: 40px 20px;
          background: rgba(233,233,233,0.6);
        }
        @include max-screen(767px){
          padding: 40px 20px 30px;
        }
        ul{
          width: 100%;
          max-width: 756px;
          li{
            display: block;
            width: 100%;
            padding-left: 37px;
            @include font(18,36/18,0.1,600);
            @include noto;
            background: url(../../img/top/ico_check.svg) left center/20px 21px no-repeat;
            margin-bottom: 13px;
            @include screen(951px,1024px){
              font-size: 15px;
              margin-bottom: 5px;
              background-size: 18px auto;
            }
            @include screen(768px,950px){
              font-size: 14px;
              background-size: 16px auto;
            }
            @include max-screen(767px){
              font-size: 14px;
              font-weight: 500;
              padding-left: 34px;
              background-size: 18px auto;
              background-position: top 8px left;
            }
            @include max-screen(370px){margin-bottom: 5px;}
          }
        }
      }
    }
  }
}
/*-----------------------------------------------------------
VOICE
------------------------------------------------------------*/
.c-voice{
  background: rgba(233,233,233,0.15) url(../../img/studio/bg_schedule.jpg) bottom right/auto 250px no-repeat;
  padding: 80px 0 89px;
  margin: auto;
  @include screen(768px,1024px){padding: 45px 0 60px;}
  @include max-screen(767px){
    padding: 50px 0;
    .the-title{padding-right:0;padding-left: 0;}
  }
  .wcm{max-width: 1000px;}
  &__item{
    width: 100%;
    @include screen(768px,1024px){margin-bottom: 10px;}
    @include max-screen(767px){
      display: flex;justify-content: space-between;
      &:not(:last-child){
        margin-bottom: 20px;
      }
    }
    &:nth-child(2n+1){
      text-align: left;
      .c-voice__item--avatar{
        padding-left: 25px;
        @include max-screen(767px){
          padding-left: 0px;
        }
      }
    }
    &:nth-child(2n){
      text-align: right;
      .c-voice__item--avatar{
        padding-right: 25px;
        @include max-screen(767px){
          padding-right: 0px;
          order: 2;
        }
      }
    }
    &--avatar,&--mess{
      width: 100%;
      max-width: 825px;
      display: inline-block;
    }
    &--avatar{
      position: relative;
       @include max-screen(767px){
        width: 62px;
        img{width: 100%;}
       }
    }
    &--mess{
      margin-top: -38px;
      background:#fff;
      border-radius: 10px;
      padding: 15px 20px 15px;
      border: 1px solid #ccc;
      // color: #fff;
      @include max-screen(767px){
        padding: 12px 15px;
        margin-top:0;
        width: calc(100% - 75px);
        .hide{
          display: none;
        }
        .btn-more{
          display: block;
          width:100%;margin: -5px 0;
          text-align: right;
          p{
            display: inline-block;
            cursor: pointer;color: $purple;
            @include font(12,1,0.1,600);
          }
        }
      }
      .ttl{
        text-align: center;
        // @include noto;
        @include font(18,26/18,0.1,600);
         @include max-screen(767px){
          text-align: left;font-size: 16px;
          line-height: 1.6;
         }
      }
      .txt{
        @include font(12,20/13,0.1,500);
        margin: 12px 0 5px;
        text-align: left;
         @include max-screen(767px){
          margin: 12px 0 0;
         }
      }
      .name{
        @include noto;
        color: $purple;
        text-align: right;
        @include font(13,1,0.1,600);
        @include max-screen(767px){
          margin-top: 10px;
        }
      }
    }
  }
  .c-btn{
    display: block;
    margin: 60px auto 0;
    max-width: 300px;
    @include max-screen(767px){
      margin: 40px auto 0;
      max-width: 260px;
    }
  }
}
/*-----------------------------------------------------------
SLIDE
------------------------------------------------------------*/
.slide{
	// padding-top: 46px;
	// @include max-screen(767px){padding-top: 30px;}
	&__img{
		display: flex;justify-content: center;
		margin-top: 20px;
    width:100%;
		overflow: hidden;
    .item {
      max-width: 405px;
      margin-right: 8px;
      @include aspect-ratio(450, 300);
      background: center/cover no-repeat;
    }
	}
}

.c-voice{
  .lst-voice{
    margin-top: 70px;
    max-width: 940px;
    width: 100%;
    @include max-screen(767px){
      margin-top: 50px;
    }
  }
}
/*-----------------------------------------------------------
VOICE
------------------------------------------------------------*/
/*-----------------------------------------------------------
INTRO
------------------------------------------------------------*/
.teacher{
	padding-top: 70px;
  @include screen(768px,1024px){padding-top: 50px;}
  @include max-screen(767px){padding-top: 50px;}
  &__lst{
    width: calc(100% + 21px);margin-top: 80px;
    margin: 80px -10.5px 65px;
    @include screen(768px,1024px){margin-top: 50px;}
    @include max-screen(767px){
      width: calc(100% + 32px);
      margin: 40px -16px 40px;
    }
    &--item{
      display: inline-block;
      width: calc(33.33% - 10.5px);
      padding: 0 10.5px;
      @include max-screen(767px){
        padding: 0 10px;
        width: 100%;
      }
      a{
        display: block;
      }
      .img{
        @include aspect-ratio(346,231);
        background-size: cover;
        background-position: center;
        .cat{
          position: absolute;
          display: inline-block;
          background: $purple;
          color: #fff;
          padding: 2px 16px 3.5px;
          @include font(14,27/14,0.06,600);
          @include noto;
          bottom:0;left:0;
        }
      }
      .info{
        padding: 12px 0;
        @include screen(768px,950px){padding: 10px 0;}
        .ttl{
          text-align: center;
          @include font(16,30/16,0.1,600);
          @include noto;
          @include screen(768px,950px){font-size: 15px;}
        }
        .txt{
          margin-top: 4px;
          @include font(14,24/14,0.06,500);
          @include multiLineEllipsis(3);
          @include screen(768px,950px){font-size: 13px;}
        }
      }
    }
    
  }
}
.slick-dots{
  display: flex !important;justify-content: center;
  margin: 7px auto 0;
  @include max-screen(767px){margin-top:0;}
  li{
    padding:0 10px;margin:0;
    @include max-screen(767px){
      padding: 0 4px;
    }
    button{
      width: 36px;height: 6px;
      border: none;font-size: 0;
      box-shadow: none;
      background: #000;
      @include max-screen(767px){
        width: 16px;height: 4px;
      }
      *{content:none;display:none;}
    }
    &.slick-active button{background: $purple;}
  }
}
/*-----------------------------------------------------------
INTRO
------------------------------------------------------------*/
.media{
  padding: 70px 0 70px;
  background:rgba(233,233,233,0.4);
  @include screen(768px,1024px){padding: 50px 0;}
  @include max-screen(767px){padding: 40px 0;}
  &__lst{
    width: 100%;margin-top: 70px;
    display: flex;justify-content: flex-start;
    flex-wrap: wrap;
    @include screen(768px,1024px){margin-top: 50px;}
    @include max-screen(767px){
      width: calc(100% + 32px);
      margin: 40px -16px 30px;
      display: block;
    }
    &--item{
      display: inline-block;
      width: calc(33.33% - 14px);
      margin-bottom: 40px;
      @include screen(768px,950px){margin-bottom: 30px;}
      @include max-screen(767px){
        padding: 0 10px;
        margin-bottom: 20px;
        width: 100%;
      }
      &:not(:nth-child(3n)){
        margin-right: 21px;
        @include max-screen(767px){margin-right:0;}
      }
      a{
        display: block;
        background: #fff;
        box-shadow: 0 0 6px rgba(0,0,0,0.06);
        // padding: 15px;
        @include max-screen(767px){
          padding: 0;
        }
      }
      .img{
        @include aspect-ratio(316,211);
        background-size: cover;
        background-position: center;
        .cat{
          position: absolute;
          display: inline-block;
          background: $purple;
          color: #fff;
          padding: 2px 16px 3.5px;
          @include font(14,27/14,0.06,600);
          @include noto;
          bottom:0;left:0;
        }
      }
      .info{
        padding: 17px 15px 15px;
        @include screen(768px,950px){padding: 10px 10px;}
        @include max-screen(767px){
          padding: 12px 15px 15px;
        }
        .ttl{
          text-align: center;
          @include font(18,32/18,0.1,600);
          @include noto;
          @include screen(951px,1024px){font-size: 16px;}
          @include screen(768px,950px){font-size: 15px;}
        }
        .txt{
          margin-top: 7px;
          @include font(14,24/14,0.06,500);
          @include multiLineEllipsis(3);
          @include screen(768px,950px){font-size: 13px;}
        }
      }
    }
  }
  .c-btn{
    display: block;
    margin: 38px auto 0;
    @include screen(768px,1024px){margin-top: 20px;}
    @include max-screen(767px){
      margin-top: 10px;max-width: 260px;
    }
  }
}
/*-----------------------------------------------------------
INTRO
------------------------------------------------------------*/
.studio{
	padding: 88px 20px 80px;
  @include screen(768px,1024px){padding: 60px 20px 60px;}
  @include max-screen(767px){
    padding: 50px 15px 40px;
  }
	&__txt{
		@include font(15,24/15,0.06,500);
		@include noto;text-align: center;
    padding-top: 17px;
    @include max-screen(767px){
      padding-top: 15px;font-size: 13px;letter-spacing: 0;
    }
    @include max-screen(370px){
      br{display: none;}
    }
	}
	&__select{
		text-align: center;
		padding: 51px 0 30px;
    @include screen(768px,1024px){padding-top: 35px;}
    @include max-screen(767px){padding: 40px 0 0px;}
		select{
			width: 400px;@include font(18,34/20,0.1,500);
			@include noto;border: none;
			color: #fff;padding: 9px 20px 11px;
			@include add_prefix(box-shadow,none);
			@include add_prefix(appearance,none);
			border-radius: 4px;height: 50px;
			background: $purple url(../../img/top/ico_select.svg) right 13px center/12px auto no-repeat;
			@include screen(768px,1024px){
        width: 350px;height: 46px;padding: 7px 20px 9px;
      }
      @include max-screen(767px){
				font-size: 15px;height: 40px;
				width: calc(100% - 80px);
				padding: 2px 20px;
			}
		}
	}
  .c-btn{
    display: block;
    margin: 32px auto 0;
    @include screen(768px,1024px){margin-top: 20px;}
    @include max-screen(767px){margin-top: 25px;}
  }
}

/*-----------------------------------------------------------
INTRO
------------------------------------------------------------*/
.c-banner{
  padding: 70px 0 0;
  @include max-screen(767px){padding: 0px 0 20px;}
  .wcm{
    max-width: 1010px;
  }
  .img{
    display: inline-block;
    width: 100%;position: relative;
    @include transition_c( opacity 0.3s);
    cursor: pointer;
    @include max-screen(767px){
      border: 4px solid #846289;
      background: #F5F2F8;
      padding: 10px;
      text-align: center;
      img{max-width: 315px;}
    }
    &:hover{
      opacity: 0.6;
    }
    .js-popup,a{
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;left:0;
      z-index: 2;
    }
  }
}
