@charset 'UTF-8';
body.menu-open{
	overflow: hidden;
	position: fixed;
	top: 0;left: 0;
	.header__studio{
		a{
			color: #000;
			&:before{content: none;}
			@include min-screen(768px){
			  &:hover{ color: $purple;}
			}
		}
	}
}
body.single-studio{
	.visual .bg{
		width:100%;
		height: calc(100% + 70px);
		background: url(../img/top/visual2.jpg) center/cover no-repeat;
		position: absolute;top:0;left:0;
    &:before{
      content:"";position: inherit;
      width: 100%;height: 100%;
      background: rgba(0,0,0,0.1);
      top:0;left:0;
    }
		@include max-screen(767px){
			background-image: url(../img/top/visual2_sp.jpg);
		}
	}
}
body.top,body.single-studio{
	.visual{
		min-height: 100vh;
	}
	padding-top: 0;
	&:not(.menu-open){
		.header{
			background: rgba(0,0,0,0);
			// background: transparent;
			&__logo a{
				background: url(../img/common/header/logo_w.png) center/100% 100% no-repeat;
			}
			>.inner{
				box-shadow: none;
			}
			.hamburger{
				background: rgba(0,0,0,0.2);
				&:before{color: #fff;}
				span{
					background: #fff;
					&:before,&:after{
						background: #fff;
					}
				}
			}
		}
		&.fixHeader{
			.header{
				background: rgba(255,255,255,0.7);
				&__logo a{
					background: url(../img/common/header/logo.png) center/100% 100% no-repeat;
				}
				>.inner{
					box-shadow: 0 3px 6px rgba(0,0,0,0.05);
				}
				&__studio{
					a{
						color: #000;
						&:before{content: none;}
						@include min-screen(768px){
						  &:hover{ color: $purple;}
						}
					}
				}
				.hamburger{
					background: rgba(0,0,0,0);
					&:before{color: #000;}
					span{
						background: #000;
						&:before,&:after{
							background: #000;
						}
					}
				}
			}
		}
	}
}