@charset 'UTF-8';
body.menu-open{
	overflow: hidden;
	position: fixed;
	top: 0;left: 0;
	.header__studio{
		a{
			color: #000;
			&:before{content: none;}
			@include min-screen(768px){
			  &:hover{ color: $purple;}
			}
		}
	}
}
body.single-studio{
	.visual .bg{
		width:100%;
		height: calc(100% + 70px);
		background: url(../img/top/visual2.jpg) center/cover no-repeat;
		position: absolute;top:0;left:0;
    &:before{
      content:"";position: inherit;
      width: 100%;height: 100%;
      background: rgba(0,0,0,0.1);
      top:0;left:0;
    }
		@include max-screen(767px){
			background-image: url(../img/top/visual2_sp.jpg);
		}
	}
}
body.top,body.single-studio{
	.visual{
		min-height: 100vh;
	}
	padding-top: 0;
	&:not(.menu-open){
		.header{
			background: rgba(0,0,0,0);
			// background: transparent;
			&__logo a{
				background: url(../img/common/header/logo_w.png) center/100% 100% no-repeat;
			}
			>.inner{
				box-shadow: none;
			}
			.hamburger{
				background: rgba(0,0,0,0.2);
				&:before{color: #fff;}
				span{
					background: #fff;
					&:before,&:after{
						background: #fff;
					}
				}
			}
		}
		&.fixHeader{
			.header{
				background: rgba(255,255,255,1);
				&__logo a{
					background: url(../img/common/header/logo.png) center/100% 100% no-repeat;
				}
				>.inner{
					box-shadow: 0 3px 6px rgba(0,0,0,0.05);
				}
				&__studio{
					a{
						color: #000;
						&:before{content: none;}
						@include min-screen(768px){
						  &:hover{ color: $purple;}
						}
					}
				}
				.hamburger{
					background: rgba(0,0,0,0);
					&:before{color: #000;}
					span{
						background: #000;
						&:before,&:after{
							background: #000;
						}
					}
				}
			}
		}
	}
}
body.top{
	// overflow: hidden;
}
// body.top.pace-done{
	// overflow: auto;
	.loading{
		// opacity: 0;
		animation: fadeOutt 2s 4.5s forwards;
	}
	.loading__inner--logo .logo img{
		&:nth-child(1){
			z-index:1;
			animation: opacity 1s 1.25s forwards;
		}
		&:nth-child(2){
			z-index:2;
			animation: opacity 1s 1.5s forwards;
		}
		&:nth-child(3){
			z-index:3;
			animation: opacity 1s 1.75s forwards;
		}
		&:nth-child(4){
			z-index:4;
			animation: opacity 1s 2s forwards;
		}
		&:nth-child(5){
			z-index:5;
			animation: opacity 1s 2.25s forwards;
		}
		&:nth-child(6){
			z-index:6;
			animation: opacity 1s 2.5s forwards;
		}
		&:nth-child(7){
			z-index:7;
			animation: opacity 1s 2.75s forwards;
		}
		&:nth-child(8){
			z-index:8;
			animation: opacity 1s 3s forwards;
		}
		&:nth-child(9){
			z-index:9;
			animation: opacity 1s 3.25s forwards;
		}
		&:nth-child(10){
			z-index:10;
			animation: opacity 1s 3.5s forwards;
		}
	}
// }
.loading{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index:999999;
	top: 0;left:0;
	background: #fff;
	overflow: hidden;
	&__inner{
		width: 100%;height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		&--logo{
			.logo{
				display: inline-block;
				width: 190px;
				position: relative;
				@include aspect-ratio(190,140);
				img{
					position: absolute;
					bottom: 0;left:0;
					width:100%;
					opacity: 0;
				}
			}
		}
	}
}
@keyframes opacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOutt {
  0%   { opacity: 1; }
  100% { opacity: 0;visibility: hidden; }
}