@charset 'UTF-8';
/*-----------------------------------------------------------
FEATURE
------------------------------------------------------------*/
.feature{
	max-width: 1166px;
	&__lst{
		margin-top: 76px;
		display: flex;justify-content: space-between;
		flex-wrap: wrap;
		@include max-screen(767px){margin-top: 44px;}
		&--item{
			// width: 46.95%;
      width:46%;
			margin-bottom: 40px;
			@include max-screen(767px){
				width: 100%;margin-bottom: 26px;
			}
			&:nth-child(2n){
				padding-top: 58px;
				@include max-screen(767px){padding-top:0;}
			}
			img{width: 100%;}
			.ttl{
				padding-left: 15px;
				border-left: 4px solid $purple;
				@include font(20,34/20,0.05,600);
				@include noto;
				margin: 23px 0 13px;
				@include max-screen(767px){
					font-size: 16px;line-height: 26px;
					margin: 18px 0 8px;
					padding-left: 10px;
				}
			}
			.txt{
				@include font(15,27/15,0.1,500);
				@include max-screen(767px){
					@include font(14,24/14,0.05);
				}
			}
		}
	}
}
/*-----------------------------------------------------------
STUDIO
------------------------------------------------------------*/
.lst-studio{
	display: flex;justify-content: flex-start;
	flex-wrap: wrap;margin-top: 20px;
	@include max-screen(767px){margin-top: 40px;}
	.wcm{max-width: 1140px;}
	&__item{
		width: calc(50% - 15px);
		border: 1px solid rgba(0,0,0,0.2);
		padding: 11px;
		display: flex;justify-content: space-between;
		margin-bottom: 30px;flex-wrap: wrap;
		@include screen(768px,990px){width: 100%;padding:20px;}
		@include max-screen(767px){
			width: calc(50% - 5px);
			padding: 7px;margin-bottom: 10px;
		}
		&:nth-child(2n+1){
			margin-right: 30px;
			@include screen(768px,990px){margin-right:0;}
			@include max-screen(767px){margin-right: 10px;}
		}
		&--map{
			width: 218px;
			@include aspect-ratio(218,164);
			overflow: hidden;
			background: url(../img/studio/map.jpg) center/cover no-repeat;
			@include screen(768px,990px){width:50%; height: 163px;}
			@include max-screen(767px){
				@include aspect-ratio(148,90);
				width: 100%;
			}
			iframe{
				position: absolute;
				top:0;left:0;
				width:100%;height: 100%;
			}
		}
		&--info{
			width: calc(100% - 240px);
			padding-bottom: 38px;
			position: relative;@include font(0,0,0);
			@include screen(768px,990px){width: calc(50% - 20px);}
			@include max-screen(767px){width: 100%;padding-top: 3px;}
			.ttl{
				@include font(20,1.45,0.06,700);
				@include noto;margin-bottom: 2px;
				@include screen(768px,990px){margin-top: -5px;}
				@include max-screen(767px){
					font-size: 13px;line-height: 25px;
					letter-spacing: 0;
				}
			}
			.txt{
				@include font(12,19px,0.12,500);
				@include max-screen(767px){
					font-size: 10px;line-height: 16px;
				}
			}
			.btn{
				display: flex; justify-content: flex-end;
				position: absolute;
				width: 100%;
				right: 0;bottom: 0;
				@include screen(768px,990px){
					justify-content: flex-start;
					margin-top: 12px;
				}
				@include max-screen(767px){
					
				}
				a,p{
					display: inline-block;
					width: 100%;max-width: 103px;color: #fff;
					@include font(12,20/12,0,bold);
					@include noto;padding: 5px;
					text-align: center;
					@include min-screen(768px){&:hover{opacity: 1;}}
					&.btn-detail{
						background: #000;
						margin-right: 10px;
						@include min-screen(768px){&:hover{background-color: #7E7E7E;}}
						@include max-screen(767px){
							width: calc(100% - 50px);
							font-size: 10px;
						}
					}
					&.btn-location{
						text-indent: 20px;
						background: $purple url(../img/common/icon/ico_location.png) left 10px top 7px/12px 16px no-repeat;
						@include min-screen(768px){&:hover{background-color: #B352A8;}}
						@include max-screen(767px){
							width: 40px;text-indent: 0;
							background-position: center;
							font-size: 0;
						}
					}
				}
			}
		}
	}
	&__notfound{
		text-align: center;
		width:100%;padding: 50px 0;
		color: rgba(0,0,0,0.5);
		&--ttl{
			@include font(28,1.4,0.05,600);
		}
		&--txt{
			@include font(16,1.4,0.05);
			padding-top: 10px
		}
	}
}
/*-----------------------------------------------------------
NEWS
------------------------------------------------------------*/

.c-news{
	padding: 98px 0 110px;
	@include max-screen(767px){padding: 50px 0 48px;}
	.wcm{
		display: flex;justify-content: space-between;
		@include noto;flex-wrap: wrap;
	}
	&__ttl{
		width: 184px;
		@include font(26,1,0.1,bold);
		@include max-screen(767px){
			width: 100%;
			font-size: 20px;
		}
	}
	&__lst{
		width: calc(100% - 184px);
		@include max-screen(767px){
			width: 100%;margin-top: 25px;
		}
		&--item{
			width: 100%;margin-bottom: 6.5px;
			display: flex;justify-content: space-between;
			flex-wrap: wrap;align-items: center;
			@include font(15,24px,0.06,500);
			@include max-screen(767px){
				border-bottom: 1px dotted rgba(0,0,0,0.43);
				padding-bottom: 22px;margin-bottom: 22px;
			}
			.date{
				width: 117px;
			}
			.cat{
				width: 108px;
				@include max-screen(767px){
					width: calc(100% - 118px);
				}
				em{
					font-style: normal;
					padding-bottom:2px;
					display: inline-block;
					background: $purple;
					color: #fff;font-size:12px;
					line-height: 19px;
					width: 66px;text-align :center;
				}
			}
			.ttl{
				width: calc(100% - 225px);
				em{
					font-style: normal;width: 100%;
					@include multiLineEllipsis(1);
				}
				@include max-screen(767px){
					width: 100%;margin-top: 10px;
				}
			}
		}
	}
}
/*-----------------------------------------------------------
FEATURE
------------------------------------------------------------*/
/*-----------------------------------------------------------
FEATURE
------------------------------------------------------------*/
/*-----------------------------------------------------------
FEATURE
------------------------------------------------------------*/