@charset 'UTF-8';
/*-----------------------------------------------------------
FEATURE
------------------------------------------------------------*/
.feature{
	max-width: 1180px;
	&__lst{
		margin-top: 76px;
		display: flex;justify-content: center;
		flex-wrap: wrap;
		@include max-screen(767px){
			margin-top: 40px;
			padding: 0 10px;
		}
		&--item{
			// width: 46.95%;
      width: calc(33.33% - 36px);
			margin: 0 18px 30px;
			position: relative;
			@include aspect-ratio(345,230);
			background-size: cover;
			background-position: top center;
			&:after{
				content: "";position: absolute;
				width: 100%;height: 100%;
				background: rgba(0,0,0,0.25);
				top:0;left:0;
			}
			@include max-screen(767px){
				width: 100%;
				margin: 0 0 20px;
				@include aspect-ratio(300,150);
			}
			img{width: 100%;}
			.ttl{
				@include font(22,1.6,0.1,600);
				@include noto;text-align: center;
				padding: 20px;
				position: absolute;
				top:50%;left: 50%;
				color: #fff;
				width:100%;
				z-index: 1;
				@include transform_c(translate(-50%,-50%));
				@include max-screen(767px){
					font-size: 20px;
				}
			}
		}
	}
}
/*-----------------------------------------------------------
STUDIO
------------------------------------------------------------*/
.lst-studio{
	display: flex;justify-content: flex-start;
	flex-wrap: wrap;margin-top: 20px;
	@include max-screen(767px){margin-top: 40px;}
	.wcm{max-width: 1140px;}
	&__item{
		width: calc(50% - 15px);
		border: 1px solid rgba(0,0,0,0.2);
		padding: 11px;
		display: flex;justify-content: space-between;
		margin-bottom: 30px;flex-wrap: wrap;
		@include screen(768px,990px){width: 100%;padding:20px;}
		@include max-screen(767px){
			width: calc(50% - 5px);
			padding: 7px;margin-bottom: 10px;
		}
		&:nth-child(2n+1){
			margin-right: 30px;
			@include screen(768px,990px){margin-right:0;}
			@include max-screen(767px){margin-right: 10px;}
		}
		&--map{
			width: 218px;
			@include aspect-ratio(218,164);
			overflow: hidden;
			background: url(../img/studio/map.jpg) center/cover no-repeat;
			@include screen(768px,990px){width:50%; height: 163px;}
			@include max-screen(767px){
				@include aspect-ratio(148,90);
				width: 100%;
			}
			iframe{
				position: absolute;
				top:0;left:0;
				width:100%;height: 100%;
			}
		}
		&--info{
			width: calc(100% - 240px);
			padding-bottom: 38px;
			position: relative;@include font(0,0,0);
			@include screen(768px,990px){width: calc(50% - 20px);}
			@include max-screen(767px){width: 100%;padding-top: 3px;}
			.ttl{
				@include font(20,1.45,0.06,700);
				@include noto;margin-bottom: 2px;
				@include screen(768px,990px){margin-top: -5px;}
				@include max-screen(767px){
					font-size: 13px;line-height: 25px;
					letter-spacing: 0;
				}
			}
			.txt{
				@include font(12,19px,0.12,500);
				@include max-screen(767px){
					font-size: 10px;line-height: 16px;
				}
			}
			.btn{
				display: flex; justify-content: flex-end;
				position: absolute;
				width: 100%;
				right: 0;bottom: 0;
				@include screen(768px,990px){
					justify-content: flex-start;
					margin-top: 12px;
				}
				@include max-screen(767px){
					
				}
				a,p{
					display: inline-block;
					width: 100%;max-width: 103px;color: #fff;
					@include font(12,20/12,0,bold);
					@include noto;padding: 5px;
					text-align: center;
					@include min-screen(768px){&:hover{opacity: 1;}}
					&.btn-detail{
						background: #000;
						margin-right: 10px;
						@include min-screen(768px){&:hover{background-color: #7E7E7E;}}
						@include max-screen(767px){
							width: calc(100% - 50px);
							font-size: 10px;
						}
					}
					&.btn-location{
						text-indent: 20px;
						background: $purple url(../img/common/icon/ico_location.png) left 10px top 7px/12px 16px no-repeat;
						@include min-screen(768px){&:hover{background-color: #B352A8;}}
						@include max-screen(767px){
							width: 40px;text-indent: 0;
							background-position: center;
							font-size: 0;
						}
					}
				}
			}
		}
	}
	&__notfound{
		text-align: center;
		width:100%;padding: 50px 0;
		color: rgba(0,0,0,0.5);
		&--ttl{
			@include font(28,1.4,0.05,600);
		}
		&--txt{
			@include font(16,1.4,0.05);
			padding-top: 10px
		}
	}
}
/*-----------------------------------------------------------
NEWS
------------------------------------------------------------*/

.c-news{
	padding: 98px 0 110px;
	@include max-screen(767px){padding: 50px 0 48px;}
	.wcm{
		display: flex;justify-content: space-between;
		@include noto;flex-wrap: wrap;
	}
	&__ttl{
		width: 184px;
		@include font(26,1,0.1,bold);
		@include max-screen(767px){
			width: 100%;
			font-size: 20px;
		}
	}
	&__lst{
		width: calc(100% - 184px);
		@include max-screen(767px){
			width: 100%;margin-top: 25px;
		}
		&--item{
			width: 100%;margin-bottom: 6.5px;
			display: flex;justify-content: space-between;
			flex-wrap: wrap;align-items: center;
			@include font(15,24px,0.06,500);
			@include max-screen(767px){
				border-bottom: 1px dotted rgba(0,0,0,0.43);
				padding-bottom: 22px;margin-bottom: 22px;
			}
			.date{
				width: 117px;
			}
			.cat{
				width: 108px;
				@include max-screen(767px){
					width: calc(100% - 118px);
				}
				em{
					font-style: normal;
					padding-bottom:2px;
					display: inline-block;
					background: $purple;
					color: #fff;font-size:12px;
					line-height: 19px;
					width: 66px;text-align :center;
				}
			}
			.ttl{
				width: calc(100% - 225px);
				em{
					font-style: normal;width: 100%;
					@include multiLineEllipsis(1);
				}
				@include max-screen(767px){
					width: 100%;margin-top: 10px;
				}
			}
		}
	}
}
/*-----------------------------------------------------------
FEATURE
------------------------------------------------------------*/
.lst-voice {
  margin-bottom: 99px;

  @include SP {
    margin-bottom: 68px;
  }
  .hide{
  	@include SP{display: none;}
  }
  .btn-more{
    width:100%; margin: -5px 0;
    text-align: right;
    p{
      display: inline-block;
      cursor: pointer;color: $purple;//rgba(0,0,0,0.5);
      @include font(12,1,0.1,600);
    }
  }
  .item {
    font-size: 0;
    @include flex(1, 0);
    margin-bottom: 40px;
    flex-wrap: wrap;

    @include SP {
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .avatar,
    .voice {
      display: inline-block;
      vertical-align: top;
    }

    .avatar {
      position: relative;
      width: 150px;
      margin-left: 30px;

      @include SP {
      	margin-top: 10px;
      	width: 60px;
        margin-left: 0;
      }

      &:before {
        // @include absolute('', 120%, 120%, -10%, '', '', -10%);
        // background: url(../img/studio/img08.png) center/cover no-repeat;

      }
    }

    .voice {
      width: calc(100% - 180px);
      max-width: 695px;
      padding-left: 70px;

      @include SP {
        width: calc(100% - 85px);
        padding-left: 0;
        max-width: 100%;
        // margin-top: 53px;
      }

      .bg {
        background-color: #F5F1F7;
        border-radius: 20px;
        padding: 15px 20px 10px;
        position: relative;

        @include SP {
        	border-radius: 10px;
          padding: 12px 15px 15px;
        }

        &:before {
          @include absolute('', 0, 0, calc(50% - 12px), '', '', -24px);
          border-right: 24px solid #F5F1F7;
          border-top: 12px solid transparent;
          border-bottom: 12px solid transparent;
          @include SP{
          	top: 30px;
	        	border-right-width: 15px;
	        	border-bottom-width: 8px;
	        	border-top-width: 8px;
	        	left: -15px;
	        }
        }
      }

      .voice-ttl {
        @include font(18, 32/20, 0.05, 600);
        text-align: center;
        // @include ffYG();
        margin-bottom: 8px;

        @include SP {
        	text-align: left;color: rgba(0,0,0,0.7);
          @include font(15, 26/18, '',600);
        }
      }

      .voice-txt {
        @include font(13, 1.6, 0.06, 500);
        @include ffYG();
      }

      .info {
        @include ffYG();
        @include font(14, 1.5, 0.06, bold);
        color: $lightpurple;
        text-align: right;
        @include SP {
          margin-top: 7px;
        }
      }
    }
		&:nth-child(2n) {
      flex-direction: row-reverse;
      .bg {
        &:before {
          left: auto;
          right: -24px;
          @include transform_c(rotate(180deg));
          @include SP{right: -15px;}
        }
      }
    	@include PC {
        .avatar {
          margin-left: 0;
          margin-right: 39px;
        }

        .voice {
          padding-left: 0;
          padding-right: 70px;
        }
      }
    }
  }
}
/*-----------------------------------------------------------
INTRO
------------------------------------------------------------*/
.faq{
  background:rgba(233,233,233,0.4);
  padding: 80px 0;
  @include max-screen(767px){padding: 40px 0; }
  .sec-faq {
    margin-bottom: 0px;
    .the-title{
      margin: 0px 0 60px;
      @include max-screen(767px){
        margin: 0px 0 40px;
        font-size: 20px;
      }
    }
    .wcm{max-width: 940px; }
    .lst-faq {
      .item {
        @include ffYM;
        margin-bottom: 18px;
        @include SP {margin-bottom: 9px;}
        .ques {
          background-color: $purple;
          @include font(16, 26/16, 0.15, 500);
          color: #fff;
          padding: 14px 53px;
          position: relative;
          cursor: pointer;
          transition: 0.5s ease;
          @include PC {
            &:hover {opacity: 0.5;}
          }
          @include SP {padding: 15px 44px; }
          &:before,&:after {
            @include absolute('', 17px, 1px, 50%, '', 20px, '');
            background-color: #fff;
            transition: 0.5s ease;
            @include SP {top: 27px }
          }
          &:after {@include transform_c(rotate(90deg));}
          span {
            display: block;
            position: relative;
            &:before {
              @include absolute('Q.', '', '', 0, '', '', -35px);
              @include font(18, 26/18, 0.15, 600);
              @include SP {left: -30px;}
            }
          }
        }
        .ans {
          @include font(15, 24/15, 0.15, 500);
          padding: 13px 20px;
          display: none;
        }
        &.active {
          .ques {
            &:before,&:after {
              @include transform_c(rotate(180deg));
            }
          }
        }
      }
    }
  }
}

/*-----------------------------------------------------------
INTRO
------------------------------------------------------------*/
.wcm.sns{
  padding: 47px 0 76px;
  @include max-screen(767px){
    padding: 40px 0;
  }
  .grBtn{
    display: flex;justify-content: space-between;
    width: 100%;max-width: 540px;
    margin: 50px auto 0;flex-wrap: wrap;
    @include max-screen(767px){padding: 0 20px;margin-top: 40px;}
    &__item{
      width: calc(50% - 10px);
      border: 2px solid #444;
      @include font(16,1,0.05,600);
      display: block;text-align: center;
      @include max-screen(767px){
        width: 100%;
        &:first-child{margin-bottom: 15px;}
      }
      p{
        display: inline-block;
        padding: 20px 0 20px 38px;
      }
      &.ins p{
        background: url(../img/common/icon/ico_ins.svg) left center/25px auto no-repeat;
      }
      &.twitter p{
        background: url(../img/common/icon/ico_twitter.svg) left center/25px auto no-repeat;
      }
    }
  }
}
/*-----------------------------------------------------------
FEATURE
------------------------------------------------------------*/
.corona{
	text-align: center;
	.sec01{
		padding-top: 30px;
	}
}