@charset 'UTF-8';
$orange: #FF8A00;
body{
  padding-top: 80px;
  @include max-screen(767px){
    padding-top: 60px;
  }
}
.header{
  background: #fff;
  position: fixed;
  top:0;left:0;
  z-index: 99999;
  width: 100%;
  height: 80px;
  @include transition_c(background 0.3s);
  @include screen(768px,950px){height: 60px;}
  @include max-screen(767px){height: 60px;}
  >.inner{
    width: 100%;padding: 0 0 0 20px;
    display: flex;justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05);
    @include screen(768px,950px){padding-left: 10px;}
    @include max-screen(767px){
      padding: 0 0 0 8px;
    }
  }
  &__studio{
    width: calc(100% - 395px);
    display: flex;justify-content: flex-end;
    @include screen(768px,950px){width: calc(100% - 305px);}
    @include max-screen(767px){
      width: 100%;
      margin: 0 0 -25px;
    }
    .inner{
      text-align: right;
      width:100%;
      max-width: 660px;
      padding: 0 10px;
      display: flex;justify-content: flex-end;flex-wrap: wrap;
      @include screen(768px,950px){padding: 0 5px;}
      @include max-screen(767px){
        max-width:100%;padding:0;
        justify-content: space-between;
      }
    }
    .header__studio--item{
      display: inline-block;
      vertical-align: middle;
      margin: 0 20px;
      color: #fff;
      @include font(16,1,0.05,bold);
      position: relative;
      @include screen(951px,1080px){
        font-size: 14px;
        margin: 0 12px;
      }
      @include screen(768px,950px){font-size: 13px;margin: 0 8px;letter-spacing: 0;}
       @include max-screen(767px){
        width: calc(50% - 7.5px);
        margin: 0 0 15px 0;text-align: center;
        font-size: 14px;font-weight: 600;
        line-height: 1.5;
        border: 1px solid #fff;
        padding: 7px 10px;min-height: 46px;
        display: flex;justify-content: center;
        align-items: center;
        a{color: #fff !important;}
       }
      &:before{
        content:"";position: absolute;
        width: 0;height: 2px;
        bottom:-10px;left: 50%;
        @include transform_c(translateX(-50%));
        background: #fff;
        @include transition_c(all 0.3s);
      }
      @include min-screen(768px){
        &:hover{
          opacity: 1;
          &:before{
            width: calc(100% - 40px);
          }     
        }
      }
    }

  }
  &__btn{
    // width: calc(100% - 155px);
    width: 240px;
    display: flex;
    justify-content: flex-end;
    @include screen(768px,950px){width: 195px;}
    @include max-screen(767px){
      width: calc(100% - 102px);
    }
    &--item{
      .btn-recruit,.btn-studio,.hamburger{
        width:80px;height: 80px;
        display: block;
        @include screen(768px,950px){width: 65px;height: 65px;}
        @include max-screen(767px){
          width: 60px;height: 60px;
        }
      }
      .hamburger{
        position: relative;
        cursor: pointer;
        &.open{
          &:before{content:"CLOSE";}
          span{
            background: transparent;
            &:before{
              @include transform_c(rotateZ(-35deg) translate(-3px,0px));
              top: 0;width: calc(100% - 5px);
            }
            &:after{
              @include transform_c(rotateZ(35deg) translate(-1px,3px));
              top: 0;width: calc(100% - 5px);
            }
          }
        }
        &:before{
          content:"MENU";
          position: absolute;
          width: 100%;top:51px;left:0;
          text-align: center;
          @include font(13,20/14,0.1,bold);
          @include noto;
          @include screen(768px,950px){top: 41px;font-size: 12px;}
          @include max-screen(767px){
            font-size:10px;top: 41px;
          }
        }
        span{
          width: 40px;height: 1px;
          background: #000;
          position: absolute;
          right: calc(50% - 20px);top: 30px;
          @include screen(768px,950px){top: 23px;}
          @include max-screen(767px){
            width: 35px;right: calc(50% - 18px);
            top: 23px;
          }
          &:before,&:after{
            content:"";position: absolute;
            height: 1px;right:0;background: #000;
            @include transition_c(all 0.2s);
          }
          &:before{
            width: calc(100% + 5px);
            top: -10px;
            @include max-screen(767px){top: -7px;}
          }
          &:after{
            bottom: -10px;
            width: calc(100% - 5px;);
            @include max-screen(767px){bottom: -7px;}
          }
        }
      }
    }
  }
  &__logo{
    width: 155px;
    padding: 5px 0;
    @include screen(768px,950px){
      width: 110px;
    }
    @include max-screen(767px){
      width: 102px;padding: 0;
    }
    a{
      @include transition_c(background 0.1s);
      display: inline-block;width:100%;
      @include aspect-ratio(178,73);
      backface-visibility: hidden;
      background: url(../img/common/header/logo.png) center/100% 100% no-repeat;
    }
  }
  &__menu{
    display: none;
    width: 100%;position: fixed;
    height: 100%;
    overflow: auto;
    top:80px;left:0;
    z-index: 99999;
    @include noto;
    background: rgba(0,0,0,0.85);
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
    -webkit-overflow-style: none;
    &::-webkit-scrollbar { 
        display: none; 
    }
    a,p{color: #fff;}
    padding: 0px 20px 80px;
    @include max-screen(767px){
      top: 60px;padding: 50px 10px 84px;
    }
    @include max-screen(370px){padding: 50px 5px 80px;}
    &--nav{
      width:100%;height:100%;
      @include min-screen(768px){
        display: flex;justify-content: center;
        align-items: center;
      }
    }
    .title{
      @include font(15,36/15,0,500);
      @include noto;
    }
    .header-link{
      text-align: center;
      @include font(18,1.6,0.1,bold);
      .item{
        padding: 20px 0px;
      }
    }
    .header-lst{
      display: flex;justify-content: space-between;
      &__item{
        width: calc(50% - 6px);
        text-align: center;
        color: #fff;@include font(14,1.5,0.05,bold);
        @include noto;
        padding: 5px;
        // border: 1px solid $border;
        background: $purple_bg url(../img/common/header/ico_header.png) center top 16px/40px auto no-repeat;
        p{
          border: 1px solid #fff;
          padding: 40px 2px 15px;
        }
      }
    }
    .header-recruit{
      display: flex;justify-content: flex-start;
      flex-wrap: wrap;
      &__ttl{
        width: 100%;margin-top: 20px;
        @include font(14,1.5,0.1,bold);
      }
      &__link{
        margin-top: 10px;
        display: flex;justify-content: space-between;
        flex-wrap: wrap;
        .item{
          width: 30%;margin-bottom: 5px;
        }
      }
    }
    .btn-email{
      margin: 20px auto 20px;
      width: 100%;max-width: 350px;
      display: block;
      text-align: center;
      background: $purple url(../img/common/icon/ico_ar.svg) right 15px center/17px 5px no-repeat;
      color: #fff;
      padding: 15px 10px;
      span{
        display: inline-block;
        padding: 0 10px 2px 40px;
        @include font(15,1.4,0.1,bold);
        background: url(../img/common/icon/ico_mail.svg) left center/ 22px auto no-repeat;
      }
    }
    .header-social{
      text-align: center;
      margin: 30px auto 50px;
      a{
        display: inline-block;
        vertical-align: middle;
        width:30px;
        &:not(:last-child){
          margin-right: 11px;
          @include max-screen(767px){margin-right: 15px;}
        }
        img{width: 100%;}
      }
    }
  }
  .btn-recruit,.btn-studio{
    text-align: center;
    color: #fff;
    @include font(14,20/14,0.06,bold);
    padding: 51px 5px 0;
    @include screen(768px,950px){padding-top: 41px;font-size: 12px;}
    @include max-screen(767px){
      font-size: 10px;
      padding-top: 41px;
    }
  }
  .btn-recruit{
    background: url(../img/common/header/btn-recruit.svg) center/100% 100% no-repeat;
    @include max-screen(767px){
      background-image: url(../img/common/header/btn-recruit_sp.svg);
    }
  }
  .btn-studio{
    background: url(../img/common/header/btn-studio.svg) center/100% 100% no-repeat;
    @include max-screen(767px){
      background-image: url(../img/common/header/btn-studio_sp.svg);
    }
  }
}